.ad-prefix {
	content: "Advertizement";
	position: absolute;
	margin: auto;
	top: -1.1em;
}

.ad-centered {
	margin: auto;
	position: relative;
	text-align: center;
}

.ad-leaderboard {
	@extend .ad-centered;
	width:320px;

	@include MQ(S) {
		width: 728px;
	}
}

.ad-leaderboard::before {
	@extend .ad-prefix;
	width:320px;

	@include MQ(S) {
		width: 728px;
	}
}

.ad-big-boy {
	@extend .ad-centered;
	width: 300px;
}

.ad-big-boy::before {
	@extend .ad-prefix;
	width:300px;
}

.ad-skyscraper {
	@extend .ad-centered;
	width: 120px;
}

.ad-skyscraper::before {
	@extend .ad-prefix;
	width:120px;
}

.ad-spud {
	@extend .ad-centered;
	width: 125px;
}

.ad-spud::before {
	@extend .ad-prefix;
	width:125px;
}

.ad-partner {
	@extend .ad-centered;
	width: 140px;
}

.ad-partner::before {
	@extend .ad-prefix;
	width:140px;
}

.ad-square {
	@extend .ad-centered;
	width: 336px;
}

.ad-square::before {
	@extend .ad-prefix;
	width: 336px;
}

.ad-sidebar-flex {
	flex: 0 1 auto; 
	//margin-right:1em;
}

.ad-bigboy-block {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}