

.ad-leaderboard {  
	// Leaderboard 728 x 90 -> Full Banner 468 x 60 -> Half Banner 234 x 60
	height: 60px;
	width: 234px;
	margin: auto;
	padding: 0;
	background: yellow;
	
	@include MQ(XS) {
		height: 60px;
		width: 468px;
	}

	@include MQ(S) {
		height: 90px;
		width: 728px;
	}
}

.ad-skyscraper {
	// 160 x 600, 120 x 600, 120 x 240, 240 x 400, 300 x 600

	height: 400px;
	width: 240px;
	margin: auto;
	padding: 0;
	background: yellow;
	
	// @include MQ(S) {
	// 	width: 120px;
	// 	height: 240px;
	// }

	// @include MQ(M) {
	// 	width: 160px;
	// 	height: 600px;
	// }

	// @include MQ(L) {
	// 	width: 300px;
	// 	height: 600px;
	// }
}

.ad-bigboy-block {

    display: inline-block;

	@include MQ(S) {
		float: left; //todo: suspicious
		width: 100%;
	}

	& div.ad-big-boy::before {
		content:"advertizement";
		position: relative; 
		top: -10px;
	}

	.ad-container {
		width: 100%;
		padding-top: 89.5%; /* 1:.896 Aspect Ratio */
		position: relative; /* If you want text inside of it */
	}

	& div.ad-big-boy {
		text-align: center;
        width: 50%;
        float: left;
        padding: 0 .2em 2em .2em; 

		@include MQ(S) {
			width: 25%;
		}

		& p {
			background-color: $yellow;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding-top: 10%;
		}
	}

	// & div.ad-big-boy:nth-of-type(2) {
	// 	display: none;
	// }
}