

.ad-leaderboard {
	// 3 sizes also "large leaderboard" 970x90 -> 970x415 as a premium option
	// adsense 320x50 for mobile 
	// Leaderboard 728 x 90 -> Full Banner 468 x 60 -> Half Banner 234 x 60
	display: none;
	margin: auto;
	padding: 0;
	color: $yellow;

	@include MQ(S) {
		display: inline-block;
		width: 728px;
		height: 90px;
	}
}

.m-ad-leaderboard {
	color: $yellow;
	width: 320px;
	height: 50px;
	margin: auto;
	padding: 0;

	@include MQ(S) {
		display: none;
	}
}

.ad-prefix {
	content: "Advertizement";
	position: absolute;
	margin: auto;
	top: -1.1em;
}

.ad-centered {
	margin: auto;
	position: relative;
	text-align: center;
}

.ad-big-boy {
	@extend .ad-centered;
	width: 300px;
}

.ad-big-boy::before {
	@extend .ad-prefix;
	width:300px;
}

.ad-skyscraper {
	@extend .ad-centered;
	width: 120px;
}

.ad-skyscraper::before {
	@extend .ad-prefix;
	width:120px;
}

.ad-spud {
	@extend .ad-centered;
	width: 125px;
}

.ad-spud::before {
	@extend .ad-prefix;
	width:125px;
}

.ad-partner {
	@extend .ad-centered;
	width: 140px;
}

.ad-partner::before {
	@extend .ad-prefix;
	width:140px;
}

.ad-square {
	@extend .ad-centered;
	width: 336px;
}

.ad-square::before {
	@extend .ad-prefix;
	width: 336px;
}

.ad-sidebar-flex {
	flex: 0 1 auto; 
	//margin-right:1em;
}

.ad-bigboy-block {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}