.ad-prefix {
	position: absolute;
	top: -$spacer;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	content: 'Advertisement';
}

.ad-centered {
	@extend .wrap;
	position: relative;
	text-align: center;
	margin-bottom: $spacer;
	> div {
		margin: auto;
		overflow: hidden;
	}

	&::before {
		@extend .ad-prefix;
	}
}

.ad-leaderboard {
	@extend .ad-centered;
	> div {
		width: 320px;
		height: 50px;
		@include MQ(S) {
			width: 728px;
			height: 90px;
		}
	}
}

.ad-big-boy {
	@extend .ad-centered;
	> div {
		width: 300px;
	}
}

.ad-skyscraper {
	@extend .ad-centered;
	> div {
		width: 120px;
	}
}

.ad-spud {
	@extend .ad-centered;
	> div {
		width: 125px;
	}
}

.ad-partner {
	@extend .ad-centered;
	> div {
		width: 140px;
	}
}

.ad-square {
	@extend .ad-centered;
	> div {
		width: 336px;
	}
}

// Other layouts : TODO: double check
.ad-sidebar-flex {
	flex: 0 1 auto;
}

.ad-bigboy-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
