.btn {
	display: inline-block;
	//	padding: 7pt 10pt;
	padding: .6em 1em;
	width: auto;
	height:24px;
	border: none;
	border-radius: .25em;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font:  {
		weight: 800;
	}
	line-height: 1;
	cursor: pointer;
	transition: all .15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;



	&:hover,
	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($yellow, 5%);
	}

	&.btn-success {
		background: $success;
		color: $white;
		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;
		color: $yellow;
		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		background: transparent;
		box-shadow: inset 0 0 0 1px $black;
		color: $black;

		.no-touch &:hover {
			background: $yellow;
			color: $white;
		}
	}
}

div.social-buttons {
	margin-right: auto;
	margin-left: auto;
}

.social-buttons li {
	position: relative;
	border-radius: 50px;
	color: $white;

	&.btn-facebook {
		background-color: $bc-facebook;
	}

	&.btn-twitter {
		background-color: $bc-twitter;
	}

	&.btn-tumblr {
		background: $bc-tumblr;
	}

	&.btn-youtube {
		background-color: $bc-youtube;
	}

	&.btn-email,
	&.btn-print {
		background-color: darken($grey, 50%);
	}

	&.btn-message {
		background-color: $black;
	}

	&.btn-instagram {
		background-color: $bc-instagram;
	}

	&.btn-linkedin {
		background-color: $bc-linkedin;
	}

	& i {
		position: absolute;

		&.fa-facebook,
		&.fa-tumblr {
			top: 25%;
			left: 33%;
		}

		&.fa-youtube,
		&.fa-instagram,
		&.fa-twitter,
		&.fa-linkedin {
			top: 20%;
			left: 25%;
		}

		&.fa-envelope,
		&.fa-print,
		&.fa-comment {
			top: 20%;
			left: 21%;
		}
	}
}


& div.social-buttons {
	//margin: auto;
	margin-top: $spacer;
	padding: 1em;
	width: 300px;
	background-color: $grey;
}

// todo: social button scss is a mess. 
& ul.social-buttons {
	padding: 0 0 0 .5em;
	border-left: .3em solid $black;

	li {
		margin: .3em;
		width: 30px;
		height: 30px;
		font-size: 1.6rem;

		i {
			color: white;
		}

		span {
			position: relative;
			top: 4px;
			left: 35px;
			display: inline-block;
			color: $black;
			font-weight: 800;
			font-size: 1rem;
		}
	}
}
