.btn {
	display: inline-block;
	padding: 0;
	width: auto;
	border: none;
	border-radius: 0;
	background-color: transparent;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	cursor: pointer;
	transition: all .15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover,
	&:focus {
	}
}

.social-buttons li {
	position: relative;
	border-radius: 50px;
	color: $white;

	&.btn-facebook {
		background-color: $bc-facebook;
	}

	&.btn-twitter {
		background-color: $bc-twitter;
	}

	&.btn-tumblr {
		background: $bc-tumblr;
	}

	&.btn-youtube {
		background-color: $bc-youtube;
	}

	&.btn-email,
	&.btn-print {
		background-color: darken($grey, 50%);
	}

	&.btn-message {
		background-color: $black;
	}

	&.btn-instagram {
		background-color: $bc-instagram;
	}

	&.btn-linkedin {
		background-color: $bc-linkedin;
	}

	& i {
		position: absolute;

		&.fa-facebook,
		&.fa-tumblr {
			top: 25%;
			left: 33%;
		}

		&.fa-youtube,
		&.fa-instagram,
		&.fa-twitter,
		&.fa-linkedin {
			top: 20%;
			left: 25%;
		}

		&.fa-envelope,
		&.fa-print,
		&.fa-comment {
			top: 20%;
			left: 21%;
		}
	}
}


& div.social-buttons {
		margin-top: 1em;
		padding: 1em;
		background-color: $grey;
}

	// todo: social button scss is a mess. 
& ul.social-buttons {
	
	padding: 0 0 0 .5em;
	border-left: .3em solid $black;

	li {
		margin: .3em;
		width: 30px;
		height: 30px;

		i {
			color: white;
		}

		span {
			position: relative;
			top: 4px;
			left: 35px;
			display: inline-block;
			color: $black;
			font-weight: 600;
			font-size: 1rem;
		}
	}
	
	@include MQ(S) {
		li {
			font-size: 1.8em;
		}
	}
	
	@include MQ(L) {
		padding: 0 0 .5em 1em;

		li {
			margin: .3em;
			width: 40px;
			height: 40px;
			font-size: 2.2em;

			span {
				position: relative;
				top: 8px;
				left: 50px;
				color: $black;
				font-weight: 600;
				font-size: 1.8rem;
			}
		}
	}
}

