.breadcrumbs {
}

.content {
	text-align: center;

	@include MQ(S) {
		font-size: 90%;
	}

	@include MQ(S) {
		font-size: 100%;
	}
}


.entry-title {
	overflow: hidden;
	word-wrap: break-word;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-content {
	
	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: 0;

		p {
		}
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	clear: both;
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 300;
	}
}

.article-title {
	@include MQ(S) {
		font-size: 2rem;
	}
	@include MQ(M) {
		font-size: 4rem;
	}
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	background-color: $black;
	color: $yellow;
	font-weight: 800;
	font-size: 1.8rem;
	line-height: .9;

	a {
		color: darken($yellow, 5%);
	}
}

.author {
	@include MQ(S) {
		margin: 1em 0 1.8em;
		font-size: 1.8rem;
	}
	@include MQ(M) {
		font-size: 3rem;
	}
	margin: 1em 0;
	padding: 0 .5em;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.2rem;
	font-family: $serif;
	line-height: 1.8;

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	bottom: 10%;
	left: 5%;
	align-self: flex-end;
	max-width: 90%;
	text-align: left;

	-webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	p {
		display: inline;
		max-width: 80%;
	}
}

.cd-hero-box {
	@include MQ(XS) {
		height: 20em;
	}
	@include MQ(S) {
		height: 30em;
	}
	@include MQ(M) {
		height: 40em;
		& h3 {
			font-size: 2.4rem;
		}
	}
	@include MQ(L) {
		height: 60em;
		& h3 {
			font-size: 3.8rem;
		}
	}
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 12em;
	background-image: url(../img/rva_street_fest.jpg);
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.section-title {
	margin-top: 2em;
	min-height: 61px;
	width: 100%;
	border-top: 2px solid $grey;
	text-align: center;

	h2 {
		@include MQ(S) {
			top: -10px;
		}
		position: relative;
		top: -15px;
		display: inline-block;
		padding: 0 10px;
		background-color: $white;
	}
}

.cd-gutter-box {
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.cd-2x1-box {
	@include MQ(S) {
		float: left;
		width: 100%;

		& article:nth-of-type(1) {
			padding: 0 .5em 2em 0;
		}

		& article:nth-of-type(2) {
			padding: 0 0 2em .5em;
		}

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 2em 0;
	}
}

.cd-3x3-box {
	& article {
		@include MQ(S) {
			float: left;
			padding-right: 1em;
			width: 33.3%;
		}
		padding: 0 0 1em 0;
	}
}

.entry-thumbnail {
	@include MQ(M) {
		font-size: 1.6em;
	}
	& h3 {
		padding-top: 1em;
	}

	& div.text-block {
		overflow: hidden;
		height: 12em;
	}
}

.article-image {
	padding-top: 75%;
	height: 10em;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.cd-sidebar {
	@include MQ(S) {
		float: left;
		width: 75%;
	}
}

.widesky-sidebar {
	@include MQ(S) {
		float:right; 
		width: 25%;
		display: block;

		h2 {
			font-size: 1.6rem;
		}
	}
	@include MQ(S) {
		h2 {
			font-size: initial;
		}
	}
	
	width: 100%;
	//display: inline-block;
	float: none;
	overflow: hidden;

	& div.widesky-ad {

		position: relative;
		padding-top: 100%;
		width: 100%;
		background-color: $yellow;
		text-align: center;

		@include MQ(S) {
			padding-top: 200%;
		}

		p {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 10%;
			background-color: $yellow;
		}
	}
}
