.breadcrumbs {
}

.rva-center-img {
	img {
		position: absolute;
		top: -1000%;
		right: -1000%;
		bottom: -1000%;
		left: -1000%;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
	}
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	@extend .rva-center-img;
	position: relative;
	overflow: hidden;
	padding-top: 60%;
	width: 100%;
	//margin-bottom: $spacer;
}

.load-more {
	display: inline-block;
	height: 41px;
	margin: auto;
	width: 100%;
	& i {
		@extend .fa;
		@extend .fa-circle-o-notch;
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		color: $yellow;
		width: 100%;
	}
}

.entry-title {
	overflow: hidden;
	padding-top: 1em;
	word-wrap: break-word;
	font-weight: 800;
	font-size: 2.4rem;
	text-transform: uppercase;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 400;
}

.entry-content {
	p, ul, ol, li {
		clear: none;
		text-align: left;
		font-size: 1.15rem;
	}

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: .4em 0;
		padding: 20px;
		border-top: 15px solid $grey;
		border-bottom: 2px solid $grey;

		p,
		a {
			text-align: center;
			font-weight: 800;
			font-size: 2.4rem;
			//line-height: 1.2;
		}

		a {
			color: darken($yellow, 5%);
			text-decoration: underline;
		}

		p::before {
			position: relative;
			top: -.5em;
			display: inline-block;
			content: '"';
			transform: rotate(180deg);

			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		p::after {
			content: '"';
		}
	}

	table {
		margin-bottom: 1.5em;
	}
}

header.entry-header {

	h1.entry-title {
			padding-top: 0;
			top: -8px;
    		position: relative;
		}

}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 400;
	}
}

.page-title {
	
	font-size: 2.5rem;
	font-weight: 800;
	
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	font-weight: 800;
	font-size: 1.5rem;
    text-transform: uppercase;
}

.rva-author-title {

	text-transform: capitalize;
	display: inline-block;
	transform: translate(-1px, -14px);
	padding: 5px 15px;
	margin: 1em 0;
	background-color: $title-bgcolor;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.5rem;
	font-family: $serif;

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.author-box {
	margin-top: 1.5em;
	text-align: right;

	@include MQ(S){
		display: flex;
	}

	.avatar-block {
		text-align: center;

		@include MQ(S){
			min-width: 136px;
			float: left;
		}

	}

	.avatar {

		width: 50%;
    	margin: 1.5em;

		@include MQ(S){
			width: 100%;
			margin: 0;
		}

	}

	.author-bio-block {

		text-align: center;

		@include MQ(S){
			text-align: left;
			width: 70%;
			margin-left: $spacer;
		}

		@include MQ(S){
			width: 100%;
		}

	}

	.author-box-title {

		line-height: .8;
		margin: 0 0 $spacer;

		& span {
    		font-size: 2.5rem;
		}
	}

	.rva-social-link-list {
		display: inline-block;
		li {
			float: left;
			padding: $spacer/4;
			min-width: 3em;
			text-align: center;

			a {
				color: $white;
				font-size: 2rem;
			}
		}
	}

	.author-box-content {
		text-align: left;
		font-size: 1.15rem;
		margin: 1.5em 0;
	}

	.author-top-posts {
		font-weight: 800;
		& td {
			vertical-align: top;
			    padding-bottom: $spacer/2;
			// max-width: 10vw;
			// overflow: hidden;
			// text-overflow: ellipsis;
			// white-space: nowrap;
		}
	}
}
.title-block {
	position: relative;
	max-width: 90%;
	text-align: left;
	left: 5%;
	align-self: flex-end;

	h2 {
		display: inline;
	}
}

.rva-read-more {
	font-weight: 800;
	white-space: nowrap;
	@include MQ(S){
		color: $yellow;
	}
}

.rva-photo-credit {
	text-align: right;
	position: relative;
	padding: 0;

	&::before {
		content: "Photo:";
		//text-transform: uppercase;
		float: left;
		position: relative;
		padding: 0 $spacer/4;
	}
}

.section-title {

	display: none;

	@include MQ(M) {
		display: block;
		margin: $spacer*2 0;
		border-top: 2px solid $grey;
		text-align: center;
		height: 0;

		h2 {
			position: relative;
			top: -10px;
			display: inline-block;
			padding: 0 10px;
			background-color: $background-color;
			text-transform: uppercase;
		}
	}
}

ul.social-links {
	display: inline-block;
	padding: .5em 0;
	border: none;

	& li {
		float: left;
	}
}

.rva-prev-link,
.rva-next-link {
	@include MQ(S) {
		position: fixed;
		top: 60%;
		display: block;
		width: 5%;
		font-size: 2rem;
	}
	display: none;
	text-align: center;
}

.rva-prev-link {
	left: 0;
}

.rva-next-link {
	right: 0;
}

.rva-thumb-category {
	display:none;
	position: absolute;
	left: $spacer/2;
	font-weight: 700;
	font-size: 1rem;
	top: 0px;
	// right: 8px;
	padding: 5px 15px;
	background-color: $background-color;
	box-shadow: 6px 5px  0px $yellow;
	//border: 1px solid;

	@include MQ(S){
		top: -$spacer;
		color: $text-color;
		font-size: .85rem;
		padding: 0;
		//background-color: $background-color;
		box-shadow: none;
	}
}

.rva-sponsored-by {
	display: none;
    position: absolute;
	top: -$spacer;
	width: 100%;
    text-align: end;
    right: 0.5em;
    font-size: .85rem;
    font-weight: 700;
	
	.fa-external-link { 
		display: inline; 
	}

	&::before {
		content: "SPONSORED BY";
		font-size: .5rem;
		font-family: $serif;
	}
}

.rva-article-image {
	//background-position: 0 25%; 
	@extend .rva-center-img;
	
	background-size: cover;
	background-repeat: no-repeat;
}

// Structure
.rva-site-margins {
	margin-right: 5%;
	margin-left: 5%;
}

.rva-gutter-box {
	@extend .rva-site-margins;
	overflow: hidden;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rva-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: rgba($black, .4);
}

.rva-modal-content {
	background-color: $white;
	margin: 15%;
	padding: 20px;
	border: 1px solid $dark-grey;
	width: 80%;
	height: 80%;

	* {
		width: 80%;
		height: 80%;
	}
	span{
		width: initial;
		height: initial;
	}
}

.rva-modal-close {
	color: $red;
	float: right;
	font-size: 28px;
	font-weight: bold;

	:hover,
	:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
	}
}

// Box layouts

.rva-hero-box {
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 400px;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: $text-color;

	.article-title {

		background-color: $title-bgcolor;
		color: $yellow;
		font-size: 2rem;
		box-shadow: 10px 0 0 $title-bgcolor, -2px 0 0 $title-bgcolor;
	}
	
	a {
		color: darken($yellow, 5%);
	}

	@include MQ(S) {
		height: 500px;
		.article-title{
			font-size: 3rem;
		}

		.rva-author-title {
			transform: translate(-1px, -13px);
			span  { 
				font-size: 1.5rem; 
			} 
		}
	}
	@include MQ(M) {
		height: 600px;
	}
	
}

.rva-3x3-box {
	& article {
		display: initial;
		float: left;
		width: 100%;
	}

	@include MQ(S) {
		& article {
			display: initial;
			float: left;
			width: 50%;
		}
	}

	@include MQ(M) {
		& article {
			display: initial;
			float: left;
			width: 33.333%;
		}
	}

	@include MQ(S) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: none;
		}
	}

	@include MQ(M) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: initial;
		}
	}
}

.rva-2x1-box {

	& article {
		padding: 0;
		margin-bottom: $spacer;
	}

	@include MQ(S) {
		float: left;
		width: 100%;

		& article {
			float: left;
			width: 50%;
			padding: 0 0 $spacer 0;

			.rva-sponsored-by {
				top: 0px;
				right: 8px;
				background-color: $white;
				width: auto;
				padding: 5px;
				box-shadow: -4px 3px 0px $yellow;
				border: 1px solid;
			}
			
			.rva-thumb-category {
				display: none;
			}
			
			.rva-article-image {
				height: 450px;
			}
			
			.title-block{
				top: 300px;
				h2 { 
					font-size: 2.5rem; 
					line-height: 2.4rem;
				}
				p { font-size: 1rem; }
			}
		}

		& article:nth-of-type(2n+0) {
			padding: 0 0 $spacer $spacer/2;
			.rva-sponsored-by {
				right: 0px;
			}
		}

		& article:nth-of-type(2n+1) {
			padding: 0 $spacer/2 $spacer 0;

		}
	}
}

// used on the category page slightly different than the front page layout.
.rva-2x-box {
	& article {
		display: initial;
		float: left;
		width: 100%;
	}

	@include MQ(S) {
	
		& article {
			display: initial;
			float: left;
			width: 100%;
		}
	}

	@include breakpoint(850px) {
		& article {
			display: initial;
			float: left;
			width: 50%;
		}
	}
}

.rva-1x-box {
	& article {
		display: initial;
		float: left;
		width: 100%;
	}
}

.entry-thumbnail {
	position: relative;
	padding: 0 $spacer/2 $spacer $spacer/2;

	.fa-play-circle-o, .fa-play-circle, .fa-play, .rva-video-time { display: none; }

	.rva-thumb-category {
		display: inline-block;
	}

	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 300px;
		overflow: hidden;
	}

	.article-title {
		font-size: 2rem;
		box-shadow: 10px 0 0 $black, -2px 0 0 $black;
		//font-size: 1.5rem; //TONY?
		background-color: $black;
		color: $white;
		a {
			color: $white;
		}
	}

	.excerpt, .text-block {
		display: none;
	}

	@include MQ(S) {

		.article-title {
			font-size: 1.8rem;
			line-height: 1.6rem;
			box-shadow: initial;
		}

		.rva-author-title {
			display: none;
			text-transform: capitalize;
		}

		.rva-article-image {
			align-items: flex-start;
			height: 385px;
			background-repeat: no-repeat;
			background-position-y: -29px;
    		background-position-x: 50%;
		}

		.title-block {
			background-color: $background-color;
			position: relative;
			top: 200px;
			left: 0;
			max-width: 100%;
			width: 100%;
			height: 100%;
			padding-top: .75em;

			a { color: $text-color; }
			h2 {
				color: $text-color;
				background-color: transparent;
			}
		}

		.excerpt {
			margin-top: $spacer/2;
			display: inline-block;
			width: 100%;
			font-size: 1rem;
			line-height: 1.2rem;
			background-color: transparent;
		}
	}
}

.entry-thumb-vox { 
	padding: 0 $spacer/2 $spacer $spacer/2;
	.fa-play-circle-o, .fa-play-circle, .fa-play { display:none; }
	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 200px;
	}
	
	.article-title {
		background-color: $black;
		a {
			color: $white;
		}
	}

	.rva-author-title {
		display: none;
	}

	.excerpt {
		display: none;
	}
}

.entry-thumb-cover { 
	padding: 0 $spacer/2 $spacer $spacer/2;
	
	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 335px;
		width: 260px;
	}
	.title-block {
		text-align: left;
		left: 0;
	}
	h2.article-title {
		
	}

	h3.article-title {
		font-weight: 400;
		font-size: 1.2rem;
	}
}

.entry-thumb-video {

	//height: initial;
	margin-top: $spacer;
	padding: 0 $spacer/2 $spacer $spacer/2;
	
	a {
		text-decoration: none;
		color: $black; //TODO: which colorway?
	}

	.video-block { 
		display: flex;
	}

	.fa-play-circle-o, .fa-play-circle, .fa-play { 
		padding: 11px;
		display: inline; 
		font-size: 2rem;
		color: $black;
		background-color: $white;
		position: relative;
		left: 10px;
		bottom: -2.5px;
	}

	.rva-video-time {
		display: inline; 
		color: $white;
		background-color:$black;
    	font-size: 2rem;
    	padding: 10px;
		position: relative;
		left: 10px;
		bottom: 10px;
	}

	& div.rva-article-image {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		//height: initial;
		width: 100%;
		padding-top: 50%;
	}

	.title-block {
		align-self: flex-start;
		position: initial;
		max-width: initial;
		text-align: left;
		background-color: $black;
		left: initial;
		width: 100%;
	}
	.article-title {
		a {
			color: $white;
		}
	}
	.rva-author-title, .excerpt {
		display: none;
	}

	@include MQ(S) {
		height: initial;
		overflow: hidden;

		& div.rva-article-image {
			//height: initial;
		}
	}

	@include MQ(M) {
		height: 270px;
	}
}

.event-list-date {
	width: 100%;
	text-align: left;
	h3 {
		display: inline-block;
		font-weight: 700;
		font-size: 2rem;
		padding: 5px 15px;
		background-color: #0d0d0d;
		//box-shadow: 6px 5px 0px #fff200;
	}
}

article.entry-thumb-event {
	display:flex;
	width: 100%;
	position: relative;
	padding: 0 $spacer/2 $spacer $spacer/2;

	img.wp-post-image {
		height: 100px;
		width: 100px;
	}
	.rva-event-date {
		//align-self: flex-end;
		font-size: 1.5rem;
		font-weight: 400;
		width: 100%;
    	//text-align: right;
	}
	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 300px;
		overflow: hidden;
	}

	.title-block {
		align-self: flex-start;
		display: flex;
    	flex-direction: column;
		max-width: 95%;
		width: 95%;
	}

	.rva-event-location {
		font-size: 1.2rem;
	}

	.article-title {
		font-size: 2rem;
		box-shadow: 10px 0 0 $black, -2px 0 0 $black;
		background-color: $black;
		color: $white;
		a {
		//	color: $white;
		}
	}

	.excerpt, .text-block {
		display: none;
	}
}

.rva-top-box {
	display: flex;
    flex-wrap: wrap;

	& article {
		width: 100%;
		padding: 0;
		padding-bottom: $spacer;
	}

	//& article:nth-of-type(6),
	& article:nth-of-type(7),
	& article:nth-of-type(8),
	& article:nth-of-type(9),
	& article:nth-of-type(10),
	& article:nth-of-type(11),
	& article:nth-of-type(12){
		display:none;
	}
	
	@include MQ(S) {

		& article {
			padding: 0 $spacer/2 $spacer $spacer/2;
			float: left;
			width: 50%;
			.title-block {
				top: 130px;
			}
			.article-title {
				font-size: 1.4rem;
    			line-height: 1.4rem;
			}
			.rva-article-image {
				height: 325px;
			}
		}

		& article:nth-of-type(5),
		& article:nth-of-type(6) //,
		// & article:nth-of-type(7),
		// & article:nth-of-type(8),
		// & article:nth-of-type(9)
		{
			display: initial;
		}
	}

	@include MQ(M) {
		& article {
			width: 33.333%;
		}
		
		& article:nth-of-type(5),
		& article:nth-of-type(6),
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9)
		 {
			display: initial;
		}
	}
}

.big-boy-h0-sidebar {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.search-content {
	padding-top: 1.5em;
	text-align: left;
	
	.rva-read-more {
		display: none;
	}

	.entry-meta {
		font-size: 1.15rem;
		margin: 1.5em 0;
	}
	
	.entry-content {
		font-size: 1.15rem;
		& img {
			display: none;
		}
	}

	.more-link {
		text-transform: uppercase;
	}

	.pagination {
		margin-top: 1.5rem;
	}
}

.rva-popular-posts {
	background-color: $grey;
	padding: $spacer;
	a {
		color: $black;
	}
	h2 {
		color: $black;
	}
	
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td {
		background-color: $yellow;
		border: 2px solid $black;
		text-align: center;
		max-width: .1vw;
		font-size: 1.5rem;
		line-height: 1.4em;
	}

	td:nth-of-type(0n+2){
		max-width:10vw;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space:nowrap;
		padding-left: $spacer/2;
		background-color: $grey;
		text-align: left;
	}

}

.rva-magazine-box {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
	min-height: 280px;

	& div {
		display: flex;
		align-content: center;
		flex-direction: column;
		text-align: center;
		max-width: 90%;
	}

	h2, h3 {
		display: inline;
		background-color: $white;
		color: $black;
		padding: 0 $spacer/2;
		margin: 5px;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.5rem;
	}

}

.rva-bigwrk-box {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 280px;
	
	.rva-bigwrk-logo {
		min-height: 100px;
		background-color: $white;
		display: none;
		@include MQ(S) {
			display: block;
		}
	}

	.rva-bigwrk-second-line {
		display: none;
		@include MQ(S) {
			display: block;
		}
	}

	& .rva-bigwrk-logo-mobile {
		width: 100%;
		height: 100px;
    	align-self: center;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $white;
		// margin-top: 2px;
		// margin-bottom: 2px;
		
		// &::before{
		// 	background-color: $white;
		// 	float: left;
		// 	width: $spacer/2;
		// 	content: "A";
		// }
		
		// &::after {
		// 	background-color: $white;
		// 	float: right;
		// 	width: $spacer/2;
		// 	content: "A";
		// }

		@include MQ(S) {
			display: none;
		}
	}

	& img {
		min-height: 100px;
		min-width: 100px;
	}
	
	& div {
		display: flex;
		align-content: center;
		flex-direction: column;
		text-align: center;
		max-width: 90%;
	}

	h2, h3 {
		display: inline;
		background-color: $white;
		color: $black;
		padding: 0 $spacer/2;
		margin: 4px;

		@include MQ(S) {
			margin: 2px;
		}
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

#spingo-list-widget {
	width: 300px;
}
