.breadcrumbs {
}

.rva-center-img {
	img {
		position: absolute;
		top: -1000%;
		right: -1000%;
		bottom: -1000%;
		left: -1000%;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
	}
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	@extend .rva-center-img;
	position: relative;
	overflow: hidden;
	padding-top: 60%;
	width: 100%;
}

.content {
	padding-top: $spacer;
	text-align: center;
	float: left;
	width: auto;
}

.load-more {
	margin: auto;
	i {
		@extend .fa;
		@extend .fa-circle-o-notch;
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		color: $yellow;
	}
}

.entry-title {
	overflow: hidden;
	padding-top: 1em;
	word-wrap: break-word;
	font-weight: 800;
	font-size: 2.4rem;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 400;
}

.entry-content {
	p, ul, ol, li {
		clear: none;
		text-align: left;
		font-size: 1.15rem;
	}

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: .4em 0;
		padding: 20px;
		border-top: 15px solid $grey;
		border-bottom: 2px solid $grey;

		p,
		a {
			text-align: center;
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 1.2;
		}

		a {
			color: darken($yellow, 5%);
			text-decoration: underline;
		}

		p::before {
			position: relative;
			top: -.5em;
			display: inline-block;
			content: '"';
			transform: rotate(180deg);

			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		p::after {
			content: '"';
		}
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 400;
	}
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1.34;
	font-style: italic;
    text-transform: uppercase;
}

.author {
	margin: 1em 0;
	padding: 0 .5em;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.2rem;
	font-family: $serif;
	line-height: 1.8;

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	bottom: 10%;
	left: 5%;
	align-self: flex-end;
	max-width: 90%;
	text-align: left;

	-webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	p {
		display: inline;
		max-width: 80%;
	}
}

.rva-photo-credit {
	text-align: right;
}

.rva-hero-box {
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 300px;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;


	.article-title {
		background-color: $black;
		color: $yellow;
	}
	
	a {
		color: darken($yellow, 5%);
	}

	@include MQ(S) {
		height: 500px;
		.article-title{
			*  { 
				font-size: 2rem;
				line-height: 1.5rem;
			} 
		}

		.author { 
			*  { 
				font-size: 1.5rem; 
				line-height: 1.1rem;
			} 
		}
	}
	@include MQ(M) {
		height: 600px;
	}

	
}

.rva-demi-hero {
	//height: 300px;
	@extend .rva-hero-box;
}

.section-title {

	display: none;

	@include MQ(M) {
		display: block;
		margin-top: $spacer;
		min-height: 35px;
		width: 100%;
		border-top: 2px solid $grey;
		text-align: center;

		h2 {
			position: relative;
			top: -10px;
			display: inline-block;
			padding: 0 10px;
			background-color: $white;
		}
	}
}

ul.social-links {
	display: inline-block;
	padding: .5em 0;
	border: none;

	& li {
		float: left;
	}
}

.rva-prev-link,
.rva-next-link {
	@include MQ(S) {
		position: fixed;
		top: 60%;
		display: block;
		width: 5%;
		font-size: 2rem;
	}
	display: none;
	text-align: center;
}

.rva-prev-link {
	left: 0;
}

.rva-next-link {
	right: 0;
}

.rva-gutter-box {
	overflow-x: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rva-2x1-box {
	@include MQ(XS) {
		float: left;
		width: 100%;
		& article:nth-of-type(2n+0) {
			padding: 0 0 $spacer $spacer/2;
		}

		& article:nth-of-type(2n+1) {
			padding: 0 $spacer/2 $spacer 0;
		}

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 $spacer 0;
	}
}

.rva-flat-thumb {
	padding: 0 $spacer/2 $spacer $spacer/2;
	min-height: 100px; //
	width: 100%; //article takes up full row
	& .rva-article-image {
		@extend .rva-center-img;
		float: right;
		padding: 0;
		width: 40%;
		height: 90px;
	}
	& .text-block {
		overflow: auto;
	}
}

.rva-dflt-1x-box {
	.entry-thumbnail, .entry-thumb-vox {
		display: initial;
		float: left;
		width: 100%;
		& .rva-article-image {
			float: none;
			height: 200px;
			width: 100%;
		}
	}
}

.rva-sm-2x-box {
	@include MQ(S) {
		.entry-thumbnail, .entry-thumb-vox {
			display: initial;
			float: left;
			width: 50%;
			& .rva-article-image {
				float: none;
				//padding-top: 100%;
				height: 200px;
				width: 100%;
			}
		}
	}
}

.rva-md-3x-box {
	@include MQ(M) {
		.entry-thumbnail, .entry-thumb-vox {
			display: initial;
			float: left;
			width: 33.333%;
			& .rva-article-image {
				float: none;
				//padding-top: 100%;
				height: 200px;
				width: 100%;
			}
		}
	}
}

.rva-3x3-box {
	@extend .rva-dflt-1x-box; 
	@extend .rva-sm-2x-box;
	@extend .rva-md-3x-box;

	.article-title {
		font-size: 1.5rem;

		@include MQ(S) {
			font-size: 1rem;
		}
	}

	@include MQ(S) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: none;
		}
	}

	@include MQ(M) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: initial;
		}
	}
}

.entry-thumbnail {
	padding: 0 $spacer/2 $spacer $spacer/2;

	.rva-article-image {
		height: 200px;
		overflow: hidden;
	}

	.article-title {
		background-color: $black;
		color: $white;
		a {
			color: $white;
		}
	}

	.title-block {
		display: none;
	}

	.text-block {
		//display: none;

		text-align: center;
		@include MQ(S) {
			///height: 12em;
		}

		& h2 {
			padding: 0 $spacer/2;
			@include MQ(S) {
				padding: 0;
			}
		}
	
		p {
			display: none;
		}
	}
}

.entry-thumb-vox { 
	padding: 0 $spacer/2 $spacer $spacer/2;

	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 200px;
	}
	
	.article-title {
		background-color: $black;
		a {
			color: $white;
		}
	}

	.author {
		display: none;
	}

	.text-block {
		display: none;
	}
}

.rva-mobile-lead-box {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: $spacer;

	& article {
		width: 100%;
		padding: 0;
		padding-bottom: $spacer;

		.rva-article-image {
			display: flex;
			align-items: flex-end;
			height: 200px;
		}
		
		.title-block {
			display: initial;
		}

		.article-title {
			background-color: $black;
			a {
				color: $white;
			}
		}

		.author {
			display: none;
		}

		.text-block {
			display: none;
		}
	}

	//& article:nth-of-type(6),
	& article:nth-of-type(7),
	& article:nth-of-type(8),
	& article:nth-of-type(9),
	& article:nth-of-type(10),
	& article:nth-of-type(11),
	& article:nth-of-type(12){
		display:none;
	}
	
	@include MQ(S) {
		& article {
			padding: 0 $spacer/2 $spacer $spacer/2;
			float: left;
			width: 50%;
		}

		& article:nth-of-type(6),
		& article:nth-of-type(7),
		& article:nth-of-type(8){
			display: initial;
		}
	}

	@include MQ(M) {
		& article {
			//float: left;
			//padding: 0 $spacer/2 $spacer $spacer/2;
			width: 33.333%;
		}
		
		& article:nth-of-type(9),
		& article:nth-of-type(10),
		& article:nth-of-type(11),
		& article:nth-of-type(12) {
			display: initial;
		}
	}
}

.rva-article-image {
	background-position: 0 25%; 
	background-size: cover;
	background-repeat: no-repeat;
}

.big-boy-h0-sidebar {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.rva-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: rgba($black, .4);
}

.rva-modal-content {
	background-color: $white;
	margin: 15%;
	padding: 20px;
	border: 1px solid $dark-grey;
	width: 80%;
	height: 80%;

	* {
		width: 80%;
		height: 80%;
	}
	span{
		width: initial;
		height: initial;
	}
}

.rva-modal-close {
	color: $red;
	float: right;
	font-size: 28px;
	font-weight: bold;

	:hover,
	:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
	}
}
