.breadcrumbs {
}

.rva-center-img {
	img {
		position: absolute;
		top: -1000%;
		right: -1000%;
		bottom: -1000%;
		left: -1000%;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
	}
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	@extend .rva-center-img;
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding-top: 60%;
	width: 100%;
}

.content {
	text-align: center;
}

.single-main {
	@include MQ(S) {
		width: 54%;
	}
	@include MQ(M) {
		width: 65%;
	}
	float: left;
	width: 100%;
}

.single-sidebar {
	@include MQ(S) {
		position: relative;
		z-index: initial;
		z-index: 0;
		display: block;
		//width: 45%;
		float: right;
		& * {
			position: relative;
			top: 0;
		}
	}
	display: none;
}

.load-more {
	margin: auto;
	i {
		@extend .fa;
		@extend .fa-circle-o-notch;
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		color: $yellow;

		// media queries for spinner size.
		//font-size: 20em;
	}
}

.entry-title {
	overflow: hidden;
	padding-top: 1em;
	word-wrap: break-word;
	font-weight: 800;
	font-size: 2.4em;
	//font-size: initial;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 400;
}

.entry-content {
	p, ul, ol, li {
		clear: none;
		text-align: left;
		font-size: 1.15rem;

	}

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: .4em 0;
		padding: 20px;
		border-top: 15px solid $grey;
		border-bottom: 2px solid $grey;

		p,
		a {
			text-align: center;
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 1.2;
		}

		a {
			color: darken($yellow, 5%);
			text-decoration: underline;
		}

		p::before {
			position: relative;
			top: -.5em;
			display: inline-block;
			content: '"';
			transform: rotate(180deg);

			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		p::after {
			content: '"';
		}
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	//clear: both;
	//text-align: center;
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 400;
	}
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	background-color: $black;
	color: $yellow;
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1.34;

	@include MQ(S) {
		font-size: 2rem;
	}
	
	a {
		color: darken($yellow, 5%);
	}
}

.author {
	margin: 1em 0;
	padding: 0 .5em;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.2rem;
	font-family: $serif;
	line-height: 1.8;

	// @include MQ(S) {
	// 	margin: 1em 0 1.8em;
	// 	font-size: 1.8rem;
	// }
	// @include MQ(M) {
	// 	font-size: 3rem;
	// }

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	bottom: 10%;
	left: 5%;
	align-self: flex-end;
	max-width: 90%;
	text-align: left;

	-webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	p {
		display: inline;
		max-width: 80%;
	}
}

.rva-photo-credit {
	text-align: right;
}

.cd-hero-box {
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 300px;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

	@include MQ(S) {
		height: 500px;
	}
	@include MQ(M) {
		height: 600px;
	}
	@include MQ(M) {
		height: 600px;
	}

}

.rva-demi-hero {
	@extend .cd-hero-box;
	height: 300px;
}

.section-title {
	margin-top: 2em;
	min-height: 35px;
	width: 100%;
	border-top: 2px solid $grey;
	text-align: center;

	h2 {
		@include MQ(S) {
			top: -10px;
		}
		position: relative;
		top: -15px;
		display: inline-block;
		padding: 0 10px;
		background-color: $white;
	}
}

ul.social-links {
	display: inline-block;
	padding: .5em 0;
	border: none;

	& li {
		float: left;
	}
}

.rva-prev-link,
.rva-next-link {
	@include MQ(S) {
		position: fixed;
		top: 60%;
		display: block;
		width: 5%;
		font-size: 2em;
	}
	display: none;
	text-align: center;
}

.rva-prev-link {
	left: 0;
}

.rva-next-link {
	right: 0;
}

.cd-gutter-box {
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cd-2x1-box {
	@include MQ(XS) {
		float: left;
		width: 100%;
		& article:nth-of-type(2n+0) {
			padding: 0 0 2em .5em;
		}

		& article:nth-of-type(2n+1) {
			padding: 0 .5em 2em 0;
		}

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 2em 0;
	}
}


.rva-hrz-thumb {
	padding: 0 .5em 1em .5em;
	min-height: 100px; //
	width: 100%; //article takes up full row
	& .rva-article-image {
		@extend .rva-center-img;
		float: right;
		//background-size: contain;
		padding: 0;
		width: 40%;
		height: 90px;
	}
	& .text-block {
		overflow: auto;
	}
}

.cd-3x3-box {

	text-align: left;



	& :nth-of-type(1).entry-thumbnail,
	& :nth-of-type(2).entry-thumbnail {
		width: 50%;
	}

	& :nth-of-type(3).entry-thumbnail,
	& :nth-of-type(4).entry-thumbnail,
	& :nth-of-type(5).entry-thumbnail {
		@extend .rva-hrz-thumb;
	}

	& :nth-of-type(6).entry-thumbnail,
	& :nth-of-type(7).entry-thumbnail,
	& :nth-of-type(8).entry-thumbnail,
	& :nth-of-type(9).entry-thumbnail, {
		
		display:none;
		@extend .rva-hrz-thumb;

		& .rva-article-image {
			float: left;
		}
	}

	@include MQ(S) {
		& :nth-of-type(1).entry-thumbnail,
		& :nth-of-type(2).entry-thumbnail,
		& :nth-of-type(3).entry-thumbnail,
		& :nth-of-type(4).entry-thumbnail,
		& :nth-of-type(5).entry-thumbnail,
		& :nth-of-type(6).entry-thumbnail,
		& :nth-of-type(7).entry-thumbnail,
		& :nth-of-type(8).entry-thumbnail {
			display: initial;
			float: left;
			padding: 0 .5em 2em .5em;
			min-height: 200px;
			width: 50%;
			& .rva-article-image {
				float: none;
				padding-top: 100%;
				width: 100%;
			}
		}

		& article {
			float: left;
			padding: 0; // .5em 2em .5em;
			min-height: 200px;
			width: 50%;
			& .rva-article-image {
				float: none;
				padding-top: 100%;
				width: 100%;
			}
		}
	}
	@include MQ(M) {
		& :nth-of-type(1).entry-thumbnail,
		& :nth-of-type(2).entry-thumbnail,
		& :nth-of-type(3).entry-thumbnail,
		& :nth-of-type(4).entry-thumbnail,
		& :nth-of-type(5).entry-thumbnail,
		& :nth-of-type(6).entry-thumbnail,
		& :nth-of-type(7).entry-thumbnail,
		& :nth-of-type(8).entry-thumbnail,
		& :nth-of-type(9).entry-thumbnail {
			display: initial;
			float: left;
			padding: 0 .5em 2em .5em;
			min-height: 200px;
			width: 33.333%;
			& .rva-article-image {
				float: none;
				padding-top: 100%;
				width: 100%;
			}
		}
		// style all other articles in the container. 
		& article {
			float: left;
			padding: 0 .5em 2em .5em;
			min-height: 200px;
			width: 33.333%;
			& .rva-article-image {
				float: none;
				padding-top: 100%;
				width: 100%;
			}
		}
	}
}

.entry-thumbnail {
	position: relative;
	& div.text-block {
		@include MQ(S) {
			height: 12em;
			text-align: center;
		}

		& h2 {
			@include MQ(S) {
				padding: 0;
			}
			padding: 0 .5em;
		}
		p {
			display: none;
		}
	}
}

.rva-article-image {
	padding-top: 75%;
	height: 10em;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.cd-sidebar {
	$S_C: 729px; //729px;  //768
	$M_C: 820px;
	$L_C: 1024px;
	@include MQ_C($S_C) {
		float: left;
		width: 54%;
	}
	@include MQ_C($M_C) {
		float: left;
		width: 58%;
	}
	@include MQ_C($L_C) {
		float: left;
		width: 66%;
	}

	& article {
		@include MQ_C($S_C) {
			//height: 300px;
			width: 50%;
		}
		float: left;
		padding: 0 .5em 2em .5em;
	}
}

.big-boy-h0-sidebar {
	@include MQ(S) {
		margin-left: .5em;
		width: auto;
	}
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.rva-top-spacing {
	@include MQ(S) {
		margin-top: 1em;
	}
	margin-top: 2em;
}


.rva-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: rgba($black, .4);
}

.rva-modal-content {
	background-color: $white;
	margin: 15%;
	padding: 20px;
	border: 1px solid $dark-grey;
	width: 80%;
	height: 80%;

	* {
		width: 80%;
		height: 80%;
	}
	span{
		width: initial;
		height: initial;
	}
}

.rva-modal-close {
	color: $red;
	float: right;
	font-size: 28px;
	font-weight: bold;

	:hover,
	:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
	}
}
