.breadcrumbs {
}

.rva-center-img {
	img {
		position: absolute;
		left: -1000%;
		right: -1000%;
		top: -1000%;
		bottom: -1000%;
		margin: auto;
		min-height: 100%;
		min-width: 100%;
	}
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
	margin: 10px;
	position: relative;
	
	@extend .rva-center-img;
}

.content {
	text-align: center;
}

.single-main {
	float:left;
	width: 100%;
	@include MQ(S){
		width: 54%;
	}
	@include MQ(M){
		width: 65%;
	}
}

.single-sidebar {
	display: none;

	@include MQ(S){
		display: block;
		z-index: initial;
		//width: 45%;
		float: right;
		position: relative;
		z-index: 0;
		& * {
			position: relative;
			top: 0;
		}
	}
}

.load-more {
	i {
		@extend .fa; 
		@extend .fa-circle-o-notch; 
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		
		color: $yellow;

		// media queries for spinner size.
		//font-size: 20em;

	}
	margin: auto;

}

.entry-title {
	overflow: hidden;
	word-wrap: break-word;
	padding-top: 1em;
	font-size: 2.4em;
	font-weight: 800;
	//font-size: initial;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 400;

}

.entry-content {
	* { 
		clear: none; 
		text-align: left;
		//font-size: 18px;
		font-size: 1.15rem;
	}

	p {
		@extend %type;
		
		//padding: 0 .5em;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
	border-top: 15px solid $grey;
	border-bottom: 2px solid $grey;
	padding: 20px;
	margin: .4em 0;
	
	p, a {
		font-size: 2.4rem;
		font-weight: 800;
		line-height: 1.2;
		text-align: center;
	}

	a {
		color: darken($yellow, 5%);
		text-decoration: underline;
	}
	
	p::before {
		content: '"';
		top: -.5em;
    	position: relative;
		display: inline-block;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	p::after{
		content: '"';
	}
}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	//clear: both;
	//text-align: center;
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 400;
	}
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	background-color: $black;
	color: $yellow;
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1.34;
	@include MQ(S) {
		font-size: 2rem;
	}
	// @include MQ(M) {
	// 	//font-size: 3rem;
	// }
	a {
		color: darken($yellow, 5%);
	}
}

.author {
	
	margin: 1em 0;
	padding: 0 .5em;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.2rem;
	font-family: $serif;
	line-height: 1.8;

	// @include MQ(S) {
	// 	margin: 1em 0 1.8em;
	// 	font-size: 1.8rem;
	// }
	// @include MQ(M) {
	// 	font-size: 3rem;
	// }

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	bottom: 10%;
	left: 5%;
	align-self: flex-end;
	max-width: 90%;
	text-align: left;

	-webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	p {
		display: inline;
		max-width: 80%;
	}
}

.rva-photo-credit {
	text-align: right;
}

.cd-hero-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 200px;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

	@include MQ(S) {
		height: 600px;
	}
	// @include MQ(M) {
	// 	& h2.article-title {
	// 		font-size: 2.4rem;
	// 	}
	// 	& span.entry-author-name, ::before {
	// 		font-size: 2rem;
	// 	}
	// }
	// @include MQ(L) {
	// 	& h2.article-title {
	// 		font-size: 3.4rem;
	// 	}
	// 	& span.entry-author-name,::before {
	// 		font-size: 3rem;
	// 	}
		
	// }
}

.rva-demi-hero {
	@extend .cd-hero-box;
	height: 300px;
}

.section-title {
	margin-top: 2em;
	min-height: 35px;
	width: 100%;
	border-top: 2px solid $grey;
	text-align: center;

	h2 {
		@include MQ(S) {
			top: -10px;
		}
		position: relative;
		top: -15px;
		display: inline-block;
		padding: 0 10px;
		background-color: $white;
	}
}

ul.social-links {
	display: inline-block;
	border: none;
	padding: .5em 0;

	& li {
		float: left;
	}
}

.rva-prev-link, .rva-next-link {
	display: none;
	text-align: center;
	@include MQ(S){
		font-size: 2em;
		display: block;
		position: fixed;
		top: 60%;
		width: 5%;
	}
}

.rva-prev-link {
	left:0;
}

.rva-next-link {
	right:0;
}

.cd-gutter-box {
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cd-2x1-box {

	@include MQ(XS) {

		& article:nth-of-type(1) {
			padding: 0 .5em 2em 0;
		}

		& article:nth-of-type(2) {
			padding: 0 0 2em .5em;
		}

		float: left;
		width: 100%;

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 2em 0;
	}
}


.rva-hrz-thumb {
	width: 100%; //article takes up full row
	min-height: 100px; //
	padding: 0 .5em 1em .5em;
	& .rva-article-image {
		@extend .rva-center-img;
		width: 40%;
		height: 90px;
		float: right;
		//background-size: contain;
		padding:0;
	}
	& .text-block {

	}
}

.cd-3x3-box {
	text-align: center;

	& .entry-thumbnail { 
		//width: 50%;
		min-height: 200px;
		float: left;
		padding: 0 .5em 2em .5em;
		& .rva-article-image {
			width: 100%;
			padding-top: 100%;
			float: none;
		}
		& .text-block {

		}
	}

	& :nth-of-type(1).entry-thumbnail,
	& :nth-of-type(2).entry-thumbnail,
	& :nth-of-type(3).entry-thumbnail {
		@extend .rva-hrz-thumb;
	}

	& :nth-of-type(4).entry-thumbnail{
		width: 100%;
	}
	
	& :nth-of-type(5).entry-thumbnail,
	& :nth-of-type(6).entry-thumbnail,
	& :nth-of-type(7).entry-thumbnail,
	& :nth-of-type(8).entry-thumbnail, {
		@extend .rva-hrz-thumb;
		& .rva-article-image {
			float: left;
		}
	}

	@include MQ(S) {
		& :nth-of-type(1).entry-thumbnail,
		& :nth-of-type(2).entry-thumbnail,
		& :nth-of-type(3).entry-thumbnail,
		& :nth-of-type(4).entry-thumbnail,
		& :nth-of-type(5).entry-thumbnail,
		& :nth-of-type(6).entry-thumbnail,
		& :nth-of-type(7).entry-thumbnail,
		& :nth-of-type(8).entry-thumbnail { 
			width: 50%;
			min-height: 200px;
			float: left;
			padding: 0 .5em 2em .5em;
			& .rva-article-image {
				width: 100%;
				padding-top: 100%;
				float: none;
			}
		}
	}

	@include MQ(M) {
		& :nth-of-type(1).entry-thumbnail,
		& :nth-of-type(2).entry-thumbnail,
		& :nth-of-type(3).entry-thumbnail,
		& :nth-of-type(4).entry-thumbnail,
		& :nth-of-type(5).entry-thumbnail,
		& :nth-of-type(6).entry-thumbnail,
		& :nth-of-type(7).entry-thumbnail,
		& :nth-of-type(8).entry-thumbnail { 
			width: 33.333%;
			min-height: 200px;
			float: left;
			padding: 0 .5em 2em .5em;
			& .rva-article-image {
				width: 100%;
				padding-top: 100%;
				float: none;
			}
		}
	}
}

.entry-thumbnail {

	//div.rva-article-image
	//div.text-block

	position: relative;
	& div.text-block {
		@include MQ(S) {
			height: 12em;
		}

		& h2 {
			padding: .5em;
		}
		p {
			display: none;
		}
		overflow: wrap;
	}
}

.rva-article-image {
	padding-top: 75%;
	height: 10em;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.cd-sidebar {

	$S_C:  729px; //729px;  //768
	$M_C:  820px;
	$L_C:  1024px;

	@include MQ_C($S_C) {
		float: left;
		width: 54%;
	}

	@include MQ_C($M_C) {
		float: left;
		width: 58%;
	}

	@include MQ_C($L_C) {
		float: left;
		width: 66%;
	}

	& article {
		float: left;
		padding: 0 .5em 2em .5em;

		@include MQ_C($S_C) {
			//height: 300px;
			width: 50%;
		}
	}

	
}

.big-boy-h0-sidebar {
	width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

	@include MQ(S) {
		width: auto;
		margin-left: .5em;
	}
}

.rva-top-spacing {

	margin-top: 2em;

	@include MQ(S) {
		margin-top: 1em;
	}
}
