.breadcrumbs {
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
	margin: 10px;
	position: relative;

	img {
		position: absolute;
		left: -1000%;
		right: -1000%;
		top: -1000%;
		bottom: -1000%;
		margin: auto;
		min-height: 100%;
		min-width: 100%;
	}

	@include MQ(M){
		img {
			// min-height: 50%;
			// min-width: 50%;
		}
	}

	@include MQ(L){
		img {
			// min-height: 50%;
			// min-width: 50%;
		}
		//margin-top: 10em;
		//padding-top: 60%;
	}
}

.content {
	float:left;
	//width:50%;
	text-align: center;
}

.sidebar-primary {
	//width: 1px;
	//width: 1px !important;
}

.single-main {
	width: 100%;
	@include MQ(M){
		width: 70%;
	}
}

.single-sidebar {
	display: none;
	//z-index: 99;
	//text-align: center;
	// position: fixed;
	// top: 0;
	// left:0;
	// width : 100%;
	// padding-top: 100%;
	// background-color: rgba(0, 0, 0, .6);
	
	// & * {
	// 	position: fixed;
	// 	top: 20%;
	// 	left: 30%;
	// }

	@include MQ(M){
		display: block;
		z-index: initial;
		width: 30%;
		float: right;
		position: relative;
		z-index: 0;
		& * {
			position: relative;
			top: 0;
		}
	}
}

.load-more {
	i {
		@extend .fa; 
		@extend .fa-circle-o-notch; 
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		
		color: $yellow;

		// media queries for spinner size.
		//font-size: 20em;

	}
	margin: auto;

}


.entry-title {
	overflow: hidden;
	word-wrap: break-word;
	padding-top: 1em;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}

	@include MQ(S){
		font-size: 3.5rem;
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 300;

}

.entry-content {
	* { 
		clear: none; 
		text-align: left;
		font-size: 18px;

		@include MQ(M) { //TODO: fishy
		//font-size: 1.5rem;
	}
	}

	p {
		@extend %type;
		
		//padding: 0 .5em;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
	border-top: 15px solid $grey;
	border-bottom: 2px solid $grey;
	padding: 20px;
	margin: .4em 0;
	
	p {
		font-size: 2.4rem;
		font-weight: 800;
		line-height: 1.2;
		text-align: center;

		@include MQ(S) {
			font-size: 3.2rem;
		}

		@include MQ(M) {
			font-size: 4rem;
		}
	}
	
	p::before {
		content: '"';
		top: -.5em;
    	position: relative;
		display: inline-block;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	p::after{
		content: '"';
	}
}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	//clear: both;
	//text-align: center;
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 300;
	}
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	background-color: $black;
	color: $yellow;
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1.15;
	@include MQ(S) {
		font-size: 2rem;
	}
	@include MQ(M) {
		font-size: 4rem;
	}
	a {
		color: darken($yellow, 5%);
	}
}

.author {
	@include MQ(S) {
		margin: 1em 0 1.8em;
		font-size: 1.8rem;
	}
	@include MQ(M) {
		font-size: 3rem;
	}
	margin: 1em 0;
	padding: 0 .5em;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.2rem;
	font-family: $serif;
	line-height: 1.8;

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	bottom: 10%;
	left: 5%;
	align-self: flex-end;
	max-width: 90%;
	text-align: left;

	-webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	p {
		display: inline;
		max-width: 80%;
	}
}

.rva-photo-credit {
	text-align: right;
}

// .rva-content-horizon{
// 	clear: none;
// 	margin: 20px 15%; 
// 	height: 1px; 
// 	border: none; 
// 	background-color: $grey;
// }

.cd-hero-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 15em;
	background-image: url(../img/rva_street_fest.jpg);
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

	@include MQ(XS) {
		height: 20em;
	}
	@include MQ(S) {
		height: 30em;
	}
	@include MQ(M) {
		height: 40em;
		& h3 {
			font-size: 2.4rem;
		}
	}
	@include MQ(L) {
		height: 60em;
		& h3 {
			font-size: 3.8rem;
		}
	}
}

.section-title {
	margin-top: 2em;
	min-height: 35px;
	width: 100%;
	border-top: 2px solid $grey;
	text-align: center;

	h2 {
		@include MQ(S) {
			top: -10px;
		}
		position: relative;
		top: -15px;
		display: inline-block;
		padding: 0 10px;
		background-color: $white;
	}
}

ul.social-links {
	display: inline-block;
	border: none;
	padding: .5em 0;

	& li {
		float: left;
	}
}

.rva-prev-link, .rva-next-link {
	display: none;
	text-align: center;
	@include MQ(S){
		font-size: 2em;
		display: block;
		position: fixed;
		top: 60%;
		width: 5%;
	}
}

.rva-prev-link {
	left:0;
}

.rva-next-link {
	right:0;
}

.cd-gutter-box {
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.cd-2x1-box {

	@include MQ(S) {

		& article:nth-of-type(1) {
			padding: 0 .5em 2em 0;
		}

		& article:nth-of-type(2) {
			padding: 0 0 2em .5em;
		}

		float: left;
		width: 100%;

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 2em 0;
	}
}

.cd-3x3-box {
	text-align: center;
	& article {
		width:100%;
		float: left;
		padding: 0 .5em 2em .5em;

		@include MQ(S) {
			width: 50%;
		}

		@include MQ(M) {
			width: 33.333%;
		}
	}
}

.entry-thumbnail {
	@include MQ(M) {
		font-size: 1.6em;
	}
	& h3 {
		padding-top: 1em;
	}

	& div.text-block {
		overflow: hidden;
		height: 12em;
	}
}

.rva-top-spacing {

	margin-top: 2em;

	@include MQ(S) {
		margin-top: 1em;
	}
}

.rva-article-image {
	padding-top: 75%;
	height: 10em;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.cd-sidebar {
	
	padding-top: 1em;
	
	@include MQ(S) {
		float: left;
		width: 60%;
	}

	@include MQ(M) {
		float: left;
		width: 75%;
	}
}

.widesky-sidebar::before{
	content: "Advertizement";
	display: block;
	//padding-top: 1.5em;
}

.widesky-sidebar {
	padding: 0 0 1em 1em;
	
	@include MQ(S) {
		float:right; 
		width: 40%;
		display: block;
	}

	@include MQ(M) {
		//float: left;
		width: 25%;
	}
	
	//width: 100%;
	float: none;
	overflow: hidden;

	& div.ad-skyscraper {
		
		position: relative;
		margin: auto;

		p {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 10%;
			background-color: $yellow;
		}
	}
}

.collapse-hidden {
	display: none;
	@include MQ(S) {
		display: initial;
	}
}

.collapse-shown {
	display: initial;
	@include MQ(S) {
		display: none;
	}
}
