.breadcrumbs {
}

.rva-center-img {
	img {
		position: absolute;
		top: -1000%;
		right: -1000%;
		bottom: -1000%;
		left: -1000%;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
	}
}

// TODO: I like this should make this the goto.
.rva-feature-image {
	@extend .rva-center-img;
	position: relative;
	overflow: hidden;
	padding-top: 60%;
	width: 100%;
}

.content {
	padding-top: $spacer;
	text-align: center;
	float: left;
	width: auto;
}

.load-more {
	margin: auto;
	i {
		@extend .fa;
		@extend .fa-circle-o-notch;
		@extend .fa-spin;
		@extend .fa-fw;
		@extend .fa-4x;
		color: $yellow;
	}
}

.entry-title {
	overflow: hidden;
	padding-top: 1em;
	word-wrap: break-word;
	font-weight: 800;
	font-size: 2.4rem;

	a {
		color: inherit;

		&:hover,
		&:focus {
		}
	}
}

.entry-tagline {
	overflow: hidden;
	word-wrap: break-word;
	font-weight: 400;
}

.entry-content {
	p, ul, ol, li {
		clear: none;
		text-align: left;
		font-size: 1.15rem;
	}

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: .4em 0;
		padding: 20px;
		border-top: 15px solid $grey;
		border-bottom: 2px solid $grey;

		p,
		a {
			text-align: center;
			font-weight: 800;
			font-size: 2.4rem;
			//line-height: 1.2;
		}

		a {
			color: darken($yellow, 5%);
			text-decoration: underline;
		}

		p::before {
			position: relative;
			top: -.5em;
			display: inline-block;
			content: '"';
			transform: rotate(180deg);

			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		p::after {
			content: '"';
		}
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@extend %type;
}

.entry-meta {
	text-transform: uppercase;
	font-weight: 900;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
		font-weight: 400;
	}
}

.article-title {
	margin: 0 0 .4em;
	padding: 0 .5em 0 .1em;
	font-weight: 800;
	font-size: 1.5rem;
	font-style: italic;
    text-transform: uppercase;
}

.author {

	display: inline-block;
	transform: translate(-1px, -14px);
	padding: 5px 15px;
	margin: 1em 0;
	background-color: $black;
	color: $yellow;
	font-weight: 600;
	font-style: italic;
	font-size: 1.5rem;
	font-family: $serif;

	a {
		color: darken($yellow, 5%);
	}

	/* by before the author's name */
	span.entry-author::before {
		color: darken($grey, 15%);
		content: 'by ';
		font-weight: 400;
		font-style: normal;
	}
}

.title-block {
	position: relative;
	max-width: 90%;
	text-align: left;
	//bottom: 10%;
	left: 5%;
	align-self: flex-end;
	// -webkit-align-self: flex-end;

	h2 {
		display: inline;
	}

	// p {
	// 	display: inline;
	// 	max-width: 80%;
	// }
}

.rva-photo-credit {
	text-align: right;
}

.section-title {

	display: none;

	@include MQ(M) {
		display: block;
		margin-top: $spacer;
		border-top: 2px solid $grey;
		text-align: center;

		h2 {
			position: relative;
			top: -10px;
			display: inline-block;
			padding: 0 10px;
			background-color: $white;
		}
	}
}

ul.social-links {
	display: inline-block;
	padding: .5em 0;
	border: none;

	& li {
		float: left;
	}
}

.rva-prev-link,
.rva-next-link {
	@include MQ(S) {
		position: fixed;
		top: 60%;
		display: block;
		width: 5%;
		font-size: 2rem;
	}
	display: none;
	text-align: center;
}

.rva-prev-link {
	left: 0;
}

.rva-next-link {
	right: 0;
}

.rva-article-image {
	//background-position: 0 25%; 
	@extend .rva-center-img;
	
	background-size: cover;
	background-repeat: no-repeat;
}

// Structure

.rva-gutter-box {
	overflow-x: hidden;
	margin-right: 5%;
	margin-left: 5%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rva-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: rgba($black, .4);
}

.rva-modal-content {
	background-color: $white;
	margin: 15%;
	padding: 20px;
	border: 1px solid $dark-grey;
	width: 80%;
	height: 80%;

	* {
		width: 80%;
		height: 80%;
	}
	span{
		width: initial;
		height: initial;
	}
}

.rva-modal-close {
	color: $red;
	float: right;
	font-size: 28px;
	font-weight: bold;

	:hover,
	:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
	}
}

// Box layouts

.rva-hero-box {
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 300px;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;


	.article-title {
		background-color: $black;
		color: $yellow;
		font-size: 2rem;
		box-shadow: 10px 0 0 $black, -2px 0 0 $black;
	}
	
	a {
		color: darken($yellow, 5%);
	}

	@include MQ(S) {
		height: 500px;
		.article-title{
			font-size: 3rem;
		}

		.author {
			transform: translate(-1px, -13px);
			span  { 
				font-size: 1.5rem; 
				//line-height: 1.1rem;
			} 
		}
	}
	@include MQ(M) {
		height: 600px;
	}

	
}

.rva-2x1-box {
	@include MQ(XS) {
		float: left;
		width: 100%;
		& article:nth-of-type(2n+0) {
			padding: 0 0 $spacer $spacer/2;
		}

		& article:nth-of-type(2n+1) {
			padding: 0 $spacer/2 $spacer 0;
		}

		& article {
			float: left;
			width: 50%;
		}
	}
	& article {
		padding: 0 0 $spacer 0;

		@include MQ(S){
			.title-block{
				top: 300px;
				h2 { font-size: 2.5rem; }
				p { font-size: 1rem; }
			}
		}
	}
}

.rva-3x3-box {
	& article {
		display: initial;
		float: left;
		width: 100%;
	}

	@include MQ(S) {
		& article {
			display: initial;
			float: left;
			width: 50%;
		}
	}

	@include MQ(M) {
		& article {
			display: initial;
			float: left;
			width: 33.333%;
		}
	}

	@include MQ(S) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: none;
		}
	}

	@include MQ(M) {
		& article:nth-of-type(7),
		& article:nth-of-type(8),
		& article:nth-of-type(9) {
			display: initial;
		}
	}
}

.entry-thumbnail {
	padding: 0 $spacer/2 $spacer $spacer/2;

	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 300px;
		overflow: hidden;
	}

	.article-title {
		font-size: 2rem;
		box-shadow: 10px 0 0 $black, -2px 0 0 $black;
		//font-size: 1.5rem; //TONY?
		background-color: $black;
		color: $white;
		a {
			color: $white;
		}
	}

	.excerpt, .text-block {
		display: none;
	}

	@include MQ(S) {

		.article-title {
			font-size: 1.8rem;
			box-shadow: initial;
		}

		.author {
			display: none;
		}

		.rva-article-image {
			align-items: flex-start;
			height: 415px;
			background-repeat: no-repeat;
			background-position-y: -29px;
    		background-position-x: 50%;
		}

		.title-block {
			background-color: $white;
			position: relative;
			top: 200px;
			left: 0;
			max-width: 100%;
			width: 100%;
			height: 100%;

			a { color: $black; }
			h2 {
				color: $black;
				background-color: transparent;
			}
		}

		.excerpt {
			display: initial;
			text-align: center;
			background-color: $white;
			width: 100%;
			font-size: 1.2rem;
		}
	}
}

.entry-thumb-vox { 
	padding: 0 $spacer/2 $spacer $spacer/2;

	.rva-article-image {
		display: flex;
		align-items: flex-end;
		height: 200px;
	}
	
	.article-title {
		background-color: $black;
		a {
			color: $white;
		}
	}

	.author {
		display: none;
	}

	.excerpt {
		display: none;
	}
}

.rva-top-box {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: $spacer;

	& article {
		width: 100%;
		padding: 0;
		padding-bottom: $spacer;
	}

	//& article:nth-of-type(6),
	& article:nth-of-type(7),
	& article:nth-of-type(8),
	& article:nth-of-type(9),
	& article:nth-of-type(10),
	& article:nth-of-type(11),
	& article:nth-of-type(12){
		display:none;
	}
	
	@include MQ(S) {

		& article {
			padding: 0 $spacer/2 $spacer $spacer/2;
			float: left;
			width: 50%;
		}

		& article:nth-of-type(5),
		& article:nth-of-type(6),
		& article:nth-of-type(7),
		& article:nth-of-type(8)
		{
			display: none;
		}
	}

	@include MQ(M) {
		& article {
			width: 33.333%;
		}
		
		& article:nth-of-type(5),
		& article:nth-of-type(6)
		 {
			display: initial;
		}
	}
}

.big-boy-h0-sidebar {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
