.footer-widgets {
	> .wrap {
	}

	.widget {
		word-wrap: break-word;
	}

	.widgettitle {
	}
}

.site-footer {
	height: 200px;
	background-color: $grey;
	//border: 1px solid red;
	> .wrap {
	}
}

.rva-footer-partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 2em;
	width: 100%;
	border: solid $grey;
	border-width: 2px 0;
	background-color: $white;
}

.rva-footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-items: flex-start;
	background-color: $dark-grey;
	min-height: 100px;

	& div, a {
		flex-grow: 1;
		color: $yellow;
		padding: 5px 0;
		font-weight: 800;
		line-height: 1.5;
	}

	div:nth-of-type(3) {
		max-width: 90px;
	}
	div:nth-of-type(4) {
		//flex-grow: 2;
		text-align: center;
	}

	ul {
		margin-right: 5px;
	}

	& i:before {

		text-align: left;
		//padding-right: 10px;
	}

	i {
		float: right;
	}

	& input[type='text'] {
		max-width: 50%;

		@include MQ(S){
			max-width: 68%;
		}
	}
}

.rva-footer-logo {
	& img {
		opacity: .4;
		height: 50px;
	}
}
