.footer-widgets {
	> .wrap {
	}

	.widget {
		word-wrap: break-word;
	}

	.widgettitle {
	}
}

.site-footer {
	height: 200px;
	background-color: $grey;
	//border: 1px solid red;
	> .wrap {
	}
}

.rva-footer-partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 2em;
	width: 100%;
	border: solid $grey;
	border-width: 2px 0;
	background-color: $white;
}

.rva-footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-items: flex-start;
	background-color: $dark-grey;
	min-height: 100px;

	& div, a {
		color: $yellow;
		padding: 5px 5px;
		font-weight: 800;
		line-height: 1.5;
	}

	& i:before {

		text-align: center;
	}

	i {
		float: right;
	}
}

.rva-footer-logo {
	& img {
		opacity: .4;
		height: 50px;
	}
}
