input:focus,
textarea:focus {
	// outline: none;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
textarea {
	padding: .6em 1em;
	max-width: 100%;
	width: 100%;
	height: $input-height;
	border: 1px solid darken($grey, 25%);
	border-radius: $input-radius;
	background: $white;
	box-shadow: inset 1px 1px rgba(#000, .03);
	color: $text-color; //$black;
	vertical-align: top; // make align with buttons
	-webkit-appearance: none; // Removes the shadow on iOS
	-moz-appearance: none;

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		outline: none;
		border-color: $yellow;
		box-shadow: 0 0 6px rgba($yellow, .2);
	}
}

// Hide the spinner on input[type="number"] in Firefox
input[type='number'] {
	// -moz-appearance:textfield;
}

// Hide the spinner on input[type="number"] in Chrome/Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	// -webkit-appearance: none;
}

textarea {
	resize: vertical; // Allow only vertical resizing of textareas.
}

fieldset {
		border: none;
}

select {
	width: 100%;
}

::placeholder {
	text-overflow: ellipsis;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .btn;
}

input[type=text] {
	box-sizing: border-box; // Overrides normalize.css
	//width: 50%;
	//padding-bottom: .5em;
	//transform: translateY(-1.5px);
}

input[type='search'] {
	box-sizing: border-box; // Overrides normalize.css

	// Remove IE clear button
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
}

.search-form,
.post-password-form {
	display: flex;
	align-items: center;

	input[type='submit'] {
		@extend .btn-alert;

		flex: 0 0 auto;
		margin-left: .25em; //TODO: check spacer
	}
}

.search-form {
	input[type='search'] {
		flex: 1 1 auto;
	}
}

.post-password-form {
	input[type='password'] {
		flex: 1 1 auto;
	}
}

.rva-subscribe-box {
	text-align: center;
	
	@include MQ(S) {
		float: left;
		width: 50%;

		& input {
			margin-bottom: 0;
		}
	}

	* img {
		width: 100%;
		height: auto;
	}

	& input {
		margin-bottom: $spacer;;
	}

	& input[type="text"] {
		width: 50%;
	}

	& form {
		//height: 100px;
		padding: $spacer;
		background-color: $grey;
	}
}

.rva-subscribe-block {

	& div:nth-of-type(2).rva-subscribe-box {
		@include MQ(S) {
			padding-right: $spacer/2;
		}
		form {
			margin: $spacer 0 0 0;
		}
	}

	& div:nth-of-type(3).rva-subscribe-box {
		@include MQ(S) {
			padding-left: $spacer/2;
		}
		form {
			margin: 0 0 $spacer 0;
		}
	}
}
