
.before-header {
	height:50px;
	padding: 0;
	margin: 0;
	position: fixed;
	
	z-index: 999;
	width: 100%;
	max-width: $site-width;
	background: $black;
	text-align: center;
	border-top: 1px;
	
	overflow: hidden;
	@include MQ(S) {
		height: 90px;
	}

	top: 0;
	@include admin-offset-fix
}

#wpadminbar {
	bottom: 0 !important;
}



.site-header-offset {
	top: 50px;
	@include admin-offset-fix(50);

	@include MQ(S) {
		top: 90px;
		@include admin-offset-fix(90);
	}
}

.site-header {

	//background-color: rgb(13, 13, 13);
	//background-color: rgba(13, 13, 13, 1); //TODO: screen flash on load.
	background-color: rgba($black, .6);
	position: fixed;
	z-index: 10;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	max-width: $site-width;
	box-shadow: 0 1px 1px rgba(#000, .1);

	& .wrap {
		width: 100%;
		//background-color: $black;

		& p {
			color: $yellow;
			font-weight: 600;
			font-style: italic;
		}
	}
}

.rva-header-trans {
	background-color: rgba($black, 1); // !important;
}

// hide the SEO title and description
.title-area {
	@include MQ(XS) {
		width: 100%;
		font-size: 1em;
	}
	@include MQ(S) {
		font-size: 1.8em;
	}
	@include MQ(M) {
		position: absolute;
		top: 0;
		top: -9999px;
		left: -9999px;
		width: 0;
	}
	position: relative;
	top: 40%;
	float: right;
	width: 90%;
	text-align: center;
	white-space: nowrap;
	//font-size: .6em;
}

.site-title {
	position: absolute;
	top: -9999px;
	a {
		&:hover,
		&:focus {
		}
	}
}

.site-description {
	top: 40%;
	position: relative;

	// @include MQ(XS){
	// 	top: initial;
	// 	position: initial;
	// }
}

.header-widget-area {
	float: right;

	.widget {
	}
}
