
.before-header {
	display: none;
	position: fixed;
	top: 0;
	@include admin-offset-fix;
	z-index: 999;
	overflow: hidden;
	margin: 0;
	padding: 0;
	min-height: 50px;
	max-width: $site-width;
	width: 100%;
	height: 50px;
	border-top: 1px;
	background-color: $background-color; // $white;
	text-align: center;

	@include MQ(S) {
		display: initial;
		height: 90px;
	}
}

#wpadminbar {
	bottom: 0 !important;
}

.header-widget-area{
	width: 100%;
	display: block;
}

.site-header {
	//Fixed Hearder offset is a PITA becasue of the admin bar...
	position: fixed;
	top: 0;
	
	div.wrap {
		text-align: center;
	}
	@include admin-offset-fix;
	//Offset for leaderboard ad unit.
	@include MQ(S) {
		top: 90px;
		@include admin-offset-fix(90);
	}

	z-index: 10;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	max-width: $site-width;
	width: 100%;
	background-color: rgba($header-background, 1);
	box-shadow: 0 1px 1px rgba($header-background , .1);

	& .wrap {
		width: 100%;
		& p {
			color: $yellow;
			font-weight: 600;
			font-style: italic;
		}
	}
}

.rva-header-trans {
	background-color: rgba($header-background, .9); // !important;
}

// hide the SEO title and description
.title-area {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
}

.site-description {
	//position: absolute;
	//top: -9999px;
}

.site-title {
	position: absolute;
	top: -9999px;
	a {
		&:hover,
		&:focus {
		}
	}
}



.header-widget-area {
	//float: right;

	.widget {
	}
}


