
.before-header {
	@include MQ(S) {
		height: 90px;
	}
	@include admin-offset-fix;
	position: fixed;
	top: 0;
	z-index: 999;
	overflow: hidden;
	margin: 0;
	padding: 0;
	min-height: 50px;
	max-width: $site-width;
	width: 100%;
	height: 50px;
	border-top: 1px;
	background: $black;
	text-align: center;
}

#wpadminbar {
	bottom: 0 !important;
}



.site-header-offset {
	@include admin-offset-fix(50);
	@include MQ(S) {
		@include admin-offset-fix(90);
		top: 90px;
	}
	top: 50px;
}

.site-header {
	position: fixed;
	z-index: 10;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	max-width: $site-width;
	width: 100%;
	//background-color: rgb(13, 13, 13);
	//background-color: rgba(13, 13, 13, 1); //TODO: screen flash on load.
	background-color: rgba($dark-grey, .6);
	box-shadow: 0 1px 1px rgba($dark-grey, .1);

	& .wrap {
		width: 100%;
		//background-color: $black;

		& p {
			color: $yellow;
			font-weight: 600;
			font-style: italic;
		}
	}
}

.rva-header-trans {
	background-color: rgba($dark-grey, 1); // !important;
}

// hide the SEO title and description
.title-area {
	@include MQ(XS) {
		width: 100%;
		font-size: 1rem;
	}
	@include MQ(S) {
		font-size: 1.8rem;
	}
	@include MQ(M) {
		position: absolute;
		top: -9999px;
		left: -9999px;
		width: 0;
	}
	position: relative;
	top: 40%;
	float: right;
	width: 90%;
	text-align: center;
	white-space: nowrap;
}

.site-title {
	position: absolute;
	top: -9999px;
	a {
		&:hover,
		&:focus {
		}
	}
}

.site-description {
	@include MQ(XS) {
		position: initial;
		top: initial;
	}
	position: relative;
	top: 25px;
}

.header-widget-area {
	float: right;

	.widget {
	}
}
