// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

body {
	background-color: $grey;
}

.site-container {
	margin: auto;
	max-width: $site-width;
	background-color: $white;
}

.site-inner {
	//@include lb-ad-offset();
	position: relative;
	word-wrap: break-word;
}

.rva-fp-before-content {
	@include MQ(S) {
		@include admin-offset-fix(40);
		height: 40px;
	}
}

.rva-before-entry-content {
	//TODO: code smell
	margin-bottom: $spacer;
	
	@include admin-offset-fix(40);
	height: 40px;

	@include MQ(S) {
		@include admin-offset-fix(80);
		height: 80px;
	}
	
	@include MQ(M) {
		@include admin-offset-fix(93);
		height: 93px;
	}
}

.rva-category-before-content {
	margin-bottom: $spacer;
	@include admin-offset-fix(50);
	height: 50px;

	@include MQ(S) {
		@include admin-offset-fix(90);
		height: 90px;
	}
}

.flex-container {
	//todo: 
	display: -webkit-flex;
	display: flex;
	flex-direction: row;

	-webkit-flex-direction: row;
}

.pad-bottom {
	padding-bottom: 2em;
}

.pad-top {
	padding-top: 2em;
}

.margin-bottom {
	margin-bottom: $spacer;
}

.margin-top {
	margin-top: $spacer;
}

.content-sidebar-wrap {
	@extend %clearfix;
}

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}
