// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

body {
	background-color: $grey;
}

.site-container {
	margin: auto;
	max-width: $site-width;
	background-color: $white;
}

.site-inner {
	//@include lb-ad-offset();
	position: relative;
	word-wrap: break-word;
}

.rva-fp-before-content {
	//@include admin-offset-fix(40);
	//background-color: $black;
	//height: 50px;
	@include MQ(XS) {
		//@include admin-offset-fix(0);
		//height: 0;
	}
}

.rva-before-entry-content {
	//TODO: code smell
	margin-bottom: 2em;
	
	@include admin-offset-fix(100);
	height: 100px;

	@include MQ(S) {
		@include admin-offset-fix(155);
		height: 155px;
	}
	
	@include MQ(M) {
		@include admin-offset-fix(80);
		height: 80px;
	}
}

.rva-category-before-content {
	margin-bottom: 1em;

	@include admin-offset-fix(110);
	height: 110px;

	@include MQ(XS) {
		@include admin-offset-fix(115);
		height: 115px;
	}
	@include MQ(S) {
		@include admin-offset-fix(165);
		height: 165px;
	}
	@include MQ(M) {
		@include admin-offset-fix(90);
    	height: 90px;
	}
}

.flex-container {
	//todo: 
	display: -webkit-flex;
	display: flex;
	flex-direction: row;

	-webkit-flex-direction: row;
}

.pad-bottom {
	padding-bottom: 2em;
}

.pad-top {
	padding-top: 2em;
}

.margin-bottom {
	margin-bottom: 2em;
}

.margin-top {
	margin-top: 2em;
}

.content-sidebar-wrap {
	@extend %clearfix;
}

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}
