// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

.site-container {
	margin: auto;
	max-width: $site-width;
	background-color: $background-color; //$white;
	
	position: relative;
	top: 0;
	@include admin-offset-fix;
	//Offset for leaderboard ad unit.
	@include MQ(S) {
		top: 70px;
		@include admin-offset-fix(70);
	}
}

.site-inner {
	position: relative;
	word-wrap: break-word;
}

.rva-category-before-content {
	
	margin-bottom: $spacer;
	height: 55px; //TONY

	@include MQ(S) { 
		height: 145px; //TONY
	}
}

.rva-before-entry-content {
	
	margin-bottom: $spacer;
	height: 55px;
	
	@include MQ(S) {
		height: 70px;
		margin-bottom: $spacer;
	}
}

.rva-menu-offset {
	margin-bottom: $spacer;

	height: 70px;

	@include MQ(S) {
		height: 90px;
	}
}

.rva-menu-offset-no-ad {
	height: 70px;
	margin-bottom: $spacer;

	@include MQ(S) {
		display: none;
	}
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-around;
}

.collapse-xs {
	display: none;

	@include MQ(XS) {
		display: initial;
	}
}

.collapse-s {
	display: none;

	@include MQ(S) {
		display: initial;
	}
}

.collapse-m {
	display: none;

	@include MQ(M) {
		display: initial;
	}
}

.collapse-l {
	display: none;

	@include MQ(L) {
		display: initial;
	}
}

.expand-s {
	display: inline-block;

	@include MQ(S) {
		display: none;
	}
}

.expand-m {
	display: inline-block;

	@include MQ(M) {
		display: none;
	}
}

.padding-bottom {
	padding-bottom: $spacer;
}

.padding-top {
	padding-top: $spacer;
}

.margin-bottom {
	margin-bottom: $spacer;
}

.margin-top {
	margin-top: $spacer;
}

.margin-left {
	margin-left: $spacer;
}

.margin-right {
	margin-right: $spacer;
}

.content-sidebar-wrap {
	@extend %clearfix;
	@extend .rva-gutter-box;
	display: flex;
}

.content {
	padding-top: $spacer;
	text-align: center;
	float: left;
	width: 100%;
}

.center-content {
	text-align: center;
}

.sidebar-primary {
	display: none;
	padding-top: $spacer;

	@include MQ(S) {
		position: relative;
		display: block;
		float: right;
		margin-left: $spacer/2;
	}
}

.sidebar-secondary {
}
