// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

body{
	background-color: $grey;
}

.site-container {
	background-color: $white;
	max-width: $site-width;
	margin: auto;
}

.site-inner {
	//@include lb-ad-offset();
	position: relative;
	word-wrap: break-word;
}

.rva-fp-before-content {
	//background-color: $black;

	height: 50px;
	//@include admin-offset-fix(40);

	@include MQ(XS) {
		height: 50px;
		@include admin-offset-fix(50);
	}
}

.rva-before-content { //TODO: code smell
	
	height: 120px;
	@include admin-offset-fix(120);

	@include MQ(XS) {
		height: 125px;
		@include admin-offset-fix(125);
	}
	@include MQ(S) {
		height: 160px;
		@include admin-offset-fix(160);
	}
	@include MQ(M) {
		height: 160px;
		@include admin-offset-fix(160);
	}
	@include MQ(L) {
		height: 170px;
		@include admin-offset-fix(170);
	}
}

.rva-category-before-content {
	
	height: 120px;
	@include admin-offset-fix(120);

	@include MQ(XS) {
		height: 125px;
		@include admin-offset-fix(125);
	}
	@include MQ(S) {
		height: 170px;
		@include admin-offset-fix(170);
	}
	@include MQ(M) {
		height: 200px;
		@include admin-offset-fix(200);
	}
}

.flex-container { //todo: 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.pad-bottom {
	padding-bottom: 2em;
}

.pad-top {
	padding-top: 2em;
}

.margin-bottom {
	margin-bottom: 2em;
}

.margin-top {
	margin-top: 2em;
}

.content-sidebar-wrap {
	@extend %clearfix;
}

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}
