// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

.site-container {
	max-width: $site-width;
	margin: auto;
}

.site-inner {
	//@include lb-ad-offset();
	position: relative;
	word-wrap: break-word;
}

.rva-fp-before-content {
	background-color: $black;

	height: 120px;

	@include admin-offset-fix(120);

	@include MQ(XS) {
		height: 60px;
		@include admin-offset-fix(60);
	}
}

.rva-before-content {
	
	height: 120px;
	@include admin-offset-fix(120);

	@include MQ(XS) {
		height: 125px;
		@include admin-offset-fix(125);
	}
	@include MQ(S) {
		height: 130px;
		@include admin-offset-fix(130);
	}
}

.rva-category-before-content {
	
	height: 120px;
	@include admin-offset-fix(120);

	@include MQ(XS) {
		height: 125px;
		@include admin-offset-fix(125);
	}
	@include MQ(S) {
		height: 170px;
		@include admin-offset-fix(170);
	}
	@include MQ(M) {
		height: 200px;
		@include admin-offset-fix(200);
	}
}


.content-sidebar-wrap {
	@extend %clearfix;
}

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}
