
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.cd-logo {
	position: relative;
	left: 0;
	float: left;
	width: 20%;
	height: 50px;
	z-index: 99;
	/* logo box style */
	//background-color: transparent;

	img {
		
		@include transform(translateX(-50%) translateY(-50%));
		@include MQ(S) {
			min-width: 80px;
		}
		
		@include MQ(M) {
			top: 80%;
			left: 75%;
			min-width: 100px;
			width: 2em;
		}
		@include MQ(L) {
			margin-left: 5%;
		}
		position: absolute;
		top: 35%;
		left: 70%;
		display: block;
		min-width: 50px;
		width: 2em;
		height: auto;
	}
}


.nav-primary {
	float: left;
	width: 80%;
}

.genesis-nav-menu {

	top: 50px;
	@include admin-offset-fix(50);

	@include MQ(S) {
		top: 90px;
		@include admin-offset-fix(90);
	}
	
	position: fixed;
	left: 0;
	width: 100%;
	background: $black;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $sans;

	@include transform(translateY(-120%));
	@include transition(transform .3s);
	

	li.menu-item a {
		display: block;
		padding: 1em 0;
		border: none;
		color: $white;
		text-decoration: none;
		white-space: nowrap;

		span {
			opacity: 1;
		}

	}

	li:first-of-type a {
		border-top-width: 1px;
	}
	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		opacity: 0;
		transition: opacity .4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}

	@include MQ(S){
		li.menu-item a {
			font-size: 1.8em;
		}
	}

	@include MQ(M) {

		@include transform(translateY(0));
		position: static;
		display: table;
		padding: 0;
		width: auto;
		height: 90px;
		background: transparent;
		text-align: center;

		li.menu-item {
			display: table-cell;
			padding: 0 .6em;
			vertical-align: middle;
		}

		li.menu-item a {
			@include transition(all .2s);
			display: inline-block;
			padding: .4em .2em;
			font-size: initial;

			&.selected {
				box-shadow: 0 2px 0 $yellow;
				color: $grey;
			}

			&.no-touch &:hover {
				color: $yellow;
			}
		}

		li:first-of-type a {
			border-top: none;
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $white;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $white;
	}
}

.nav-is-visible {
	& .wrap {

	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($white, 0);

	&::before,
	&::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($white, 1);
	}
}

.cd-nav-trigger {
	position: fixed;
	
	right: 10px;
	top: 70px;
	@include admin-offset-fix(70);

	@include MQ(S) {
		top: 120px;
		right: 20px;
		@include admin-offset-fix(120);
	}

	@include MQ(M) {
		display: none;
	}

	display: block;
	overflow: hidden;
	width: 35px;
	height: 40px;
	color: transparent;
	white-space: nowrap;

	span {
		@include transition(background-color .3s .3s);
		position: absolute;
		top: 20%;
		left: 50%;
		margin-top: -1px;
		margin-left: -10px;
		width: 20px;
		height: 4px;

		&::before,
		&::after {
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			@include transition(transform .3s .3s);
			position: absolute;
			width: 100%;
			height: 100%;
			content: '';
			backface-visibility: hidden;

			-webkit-backface-visibility: hidden;
			will-change: transform;
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}
}

.nav-is-visible {
	
	width: 100%;
	height: 100%;
	
	.cd-nav-trigger span {
		&::before {
			@include transform(translateY(0) rotate(-45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(45deg));
		}
	}

	.genesis-nav-menu {
		@include transform(translateY(0));
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding-bottom: 100px;
	}
}
