
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.genesis-nav-menu {
	left: 0;
	background: $black;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $sans;
	text-align: initial;
	margin-left: 5%;

	& li.menu-item a {
		padding: 0;
	}

	li.menu-item a {
		display: inline-block;
		padding: 0;
		border: none;
		color: $text-color;
		font-size: 1.8rem;
		text-decoration: none;
		white-space: nowrap;

		span {
			opacity: 1;
		}
	}

	li:first-of-type a {
		border-top-width: 1px;
	}

	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}
}

.rva-social-link-list {
	li {
		float: left;
		background-color: transparent;
		padding: 0 $spacer 0 0;
	}

	& a {
		color: $white;
	}

	& i {
		font-size: 1.5rem;
	}
}

.rva-nav-wrapper {
	position: absolute;
	@include transform(translateX(-2024px));
	transition: transform 0.3s ease-in-out;
	background-color: $black;
	width: 385px;
	height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
	overflow: auto;
	padding-left: 5%;
	padding-bottom: 1000px;

	.search-form {
		display: inherit;
		width: 300px;
		height: 50px;
		// margin: $spacer 5%;
		// font-size: 1.5rem;
		// div {
		// 	display: flex;
		// }
		// & input {
		// 	border-radius: 0;
		// 	border: 0;
		// 	height: 50px;
		// }
		// & button {
		// 	border: 0;
		// 	background-color: $white;
		// }
	}

	.rva-menu-logo {
		order: 2;
		display: block;
		height: 50px;
		margin: 1.5rem 0 2.5rem 5%;
		text-align: left;
		padding: 0;

		img {
			width: 90px;
		}
	}

	.nav-primary {
		order: 1;
		text-align: left;
		display: inline-block;
		width: 100%;

		& li.menu-item a {
			line-height: 2.8rem;
		}
	}

	.nav-secondary {
		display: inline-block;
		order: 3;
		text-align: left;
		width: 100%;

		& li.menu-item a {
			font-size: 1.2rem;
			line-height: 2.2rem;
		}
	}

	.rva-social-link-list {
		margin: $spacer 0 $spacer 5%;
		order: 4;
	}
}

.rva-logo {
	img {
		margin: $spacer;
		height: 70px; //Larger header
		min-width: 66.6px;
	}
}

.rva-site-description {
}

.rva-title-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.rva-social-link-list {
		right: 5%;
		position: absolute;
	}
}

.rva-title-button-wrap {
	display: none;

	@include MQ(S) {
		display: flex;
		height: 100%;
		align-items: center;

		.rva-social-link-list li {
			top: -2.5px;
			position: relative;
		}
	}
}

.rva-nav-trigger {
	@include transform(translateX(-25px));
	position: absolute;
	top: 45%;
	left: 5%;
	text-align: initial;
	color: transparent;
	white-space: nowrap;
	cursor: pointer;

	span {
		// hamburger icon
		@include transition(background-color 0.3s 0.3s);
		position: absolute;
		width: 25px;
		height: 4px;
		/* hamburger menu */
		background-color: $menu-color;

		&::before, &::after {
			/* upper and lower lines */
			background-color: $menu-color;
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			@include transition(transform 0.3s 0.3s);
			position: absolute;
			width: 100%;
			height: 100%;
			content: '';
			        backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			will-change: transform;
		}

		&::before {
			@include transform(translateY(-8px));
		}

		&::after {
			@include transform(translateY(8px));
		}
	}
}

.nav-is-visible .rva-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($menu-color, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($menu-color, 1);
	}
}

.nav-is-visible {
	background-color: rgba($black, 1);

	.rva-nav-wrapper {
		//@include transform(translateX(0));
		@include transform(translateX(-5%));
	}

	.rva-nav-trigger {
		span {
			&::before {
				@include transform(translateY(0) rotate(-45deg));
			}

			&::after {
				@include transform(translateY(0) rotate(45deg));
			}
		}
	}
	.rva-title-bar {
		.rva-logo, .rva-social-link-list {
			//visibility: hidden;
		}
	}
}

.createsend-wrap {
	margin-top: $spacer;
	text-align: left;
	position: relative;

	.rva-social-link-list {
		margin: 0 0 0 5%;
	}
	.subscribe-button-inner {
		position: relative;
		top: -2px;
	}
}

body.rva-no-scroll {
	overflow: hidden;
}