
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.nav-primary {
	//position: absolute;
	width: 1px;
	top: -9999px;
	left: -9999px;

	@include MQ(M) {
		float: left;
		width: 80%;
		margin-top: 10px; //TONY
	}
}

.nav-secondary {
	position: fixed;
}

.genesis-nav-menu {
	height: 50px;

	@include transform(translateY(-1200%));
	@include transition(transform .1s);
	left: 0;
	width: 100%;
	background: $black;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $sans;

	li.menu-item a {
		display: block;
		padding: 1em 0;
		border: none;
		color: $text-color; //$white;
		font-size: 1.8rem;
		text-decoration: none;
		white-space: nowrap;

		span {
			opacity: 1;
		}
	}

	li:first-of-type a {
		border-top-width: 1px;
	}
	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		opacity: 0;
		transition: opacity .4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}

	@include MQ(M) {
		@include transform(translateY(0));
		position: static;
		display: table;
		padding: 0;
		width: auto;
		//height: 90px;
		background: transparent;
		text-align: center;

		li.menu-item {
			display: table-cell;
			padding: 0 .6em;
			vertical-align: middle;
		}

		li.menu-item a {
			@include transition(all .2s);
			display: inline-block;
			padding: .4em .2em;
			font-size: initial;

			&.selected {
				box-shadow: 0 2px 0 $yellow;
				color: $grey;
			}

			&.no-touch &:hover {
				color: $yellow;
			}
		}

		li:first-of-type a {
			border-top: none;
		}
	}

}

.nav-is-visible {
	& .wrap {
	}
}

.nav-is-visible .rva-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($menu-color, 0);

	&::before,
	&::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($menu-color, 1);
	}
}

.nav-is-visible {
	width: 100%;
	height: 100%;

	.rva-nav-trigger {
		span {
			&::before {
				@include transform(translateY(0) rotate(-45deg));
			}

			&::after {
				@include transform(translateY(0) rotate(45deg));
			}
		}
	}

	.genesis-nav-menu {
		@include transform(translateY(0));
		position: absolute;
		top: 0;
		left: 0;
		overflow: auto;
		padding-bottom: 100px;
		width: 100%;
		height: 100%;
	}
}

.rva-nav-trigger span {
	/* hamburger menu */
	background-color: $menu-color;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $menu-color;
	}
}

.rva-nav-wrapper {
	width: 100%;
	display: flex;
	align-content: baseline;
	justify-content: space-between;
	height: 70px;
}

.rva-logo {
	width: 20%;
	text-align: right;
	padding-left: 20px; //TONY
	margin-right: $spacer*2;
	img {
		height: 50px;
		margin-top: 10px; //TONY
		min-width: 66.6px;
	}
}

.rva-site-description {
	display: flex;

	span {
		margin-left: $spacer;
		align-self: center;
		color: $yellow;
		font-weight: 600;
		font-style: italic;
	}
	@include MQ(M){
		display: none;
	}
}

.rva-nav-trigger {
	align-self:center;
	position: relative;
	color: transparent;
	white-space: nowrap;

	@include MQ(M) {
		display: none;
	}

	span {
		@include transition(background-color .3s .3s);
		position: absolute;
		top: 25%;
		right: 20px;
		width: 20px;
		height: 4px;

		&::before,
		&::after {
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			@include transition(transform .3s .3s);
			position: absolute;
			width: 100%;
			height: 100%;
			content: '';
			backface-visibility: hidden;

			-webkit-backface-visibility: hidden;
			will-change: transform;
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}
}