
.screen-reader-text {
	position: absolute;
    top: -9999px;
    left: -9999px;
}

.cd-logo {
	/* logo box style */
	background-color: transparent;
	width: 20%;
	height: 50px;
	float: left;
	left:0;
	position: relative;

	@include MQ(M){
		height: 100px;
	}

	img {
		position: absolute;
		display: block;
		top: 35%;
		left: 70%;
		width: 2em;
		min-width: 50px;
		height: auto;
		@include transform(translateX(-50%) translateY(-50%));

		@include MQ(S) {
			min-width: 80px;
		}

		@include MQ(M) {
			top: 50%;
			left: 75%;
			width: 2em;
			min-width: 100px;
		}
		
		@include MQ(L) {
			margin-left: 5%;
		}
	}
}


.nav-primary {
	width: 80%;
    float: left;
}

.genesis-nav-menu {
	@include lb-ad-offset();

	position: fixed;
	left: 0;
	width: 100%;
	@include transform(translateY(-120%));
	@include transition(transform .3s);

	text-align: center;
	background: $black;
	font-family: $sans;
  	font-weight: 800;
  	text-transform: uppercase;
	
	li.menu-item a {
		color: $white;
		border-color: lighten($black, 5%);
		display: block;
		font-size: .5rem;
		padding: 1em 0;
		border-bottom-width: 1px;
		border-style: solid;
		text-decoration: none;
		white-space: nowrap;
		
		span {
			opacity: 1;
		}
	}

	li:first-of-type a {
		border-top-width: 1px;
	}
	
	@include MQ(M) {
		position: static;
		display: table;
		@include transform(translateY(0));
		width: auto;
		height: 80px;
		background: transparent;
		padding: 0;
		text-align: center;

		li.menu-item {
			display: table-cell;
			vertical-align: middle;
			padding: 0 .6em;
		}

		li.menu-item a {
			display: inline-block;
			font-size: 1.6rem;
			padding: .4em .2em;
			border: none;
			@include transition(all .2s);

			&.selected {
				color: $grey;
				box-shadow: 0 2px 0 $yellow;
			}

			&.no-touch &:hover {
				color: $yellow;
			}
		}

		li:first-of-type a {
			border-top: none;
		}
	}
	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 99;
		opacity: 0;
		transition: opacity .4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $white;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $white;
	}
}

.nav-is-visible {
	& .wrap {
		opacity: 1;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($white, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($white, 1);
	}
}

.cd-nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 30%;
	height: 100%;
	width: 50px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;

	span {
		position: absolute;
		height: 4px;
		width: 20px;
		top: 20%;
		margin-top: -1px;
		left: 50%;
		margin-left: -10px;
		@include transition(background-color .3s .3s);

		&::before, &::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			will-change: transform;
			@include transition(transform .3s .3s);
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}

	@include MQ(M) {
		display: none;
	}
}

.nav-is-visible {
	.cd-nav-trigger span {

		&::before {
			@include transform(translateY(0) rotate(-45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(45deg));
		}
	}

	.genesis-nav-menu {
		@include transform(translateY(0));
	}
}

