html,
body {
	min-width: 300px; //$site-width; // Prevents backgrounds on these elements from being truncated on smaller screens on fixed-width sites
	
	font-size: 80%;
}

html.admin-bar-showing {
	margin-top: $spacer;
}

* html.admin-bar-showing body {
	margin-top: $spacer;
}

@include media('<=admin-bar') {
	html.admin-bar-showing {
		margin-top: 0;
	}

	* html.admin-bar-showing body {
		margin-top: 0;
	}

	#wpadminbar {
		display: none !important;
	}
}

body {
	font-family: $sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-variant-ligatures: common-ligatures;
}

::selection {
	// text-shadow: none;
}

a {
	color: $black;
	text-decoration: none;
	//transition: all .15s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: underline;
		//color: $yellow;
	}
}

ol,
ul {
	@extend %unstyled-list;
}

p {
	margin: 0;
}

b,
strong {
	font-weight: 800;
}

abbr {
	letter-spacing: .1em;
}

pre {
	overflow: scroll;
	white-space: pre;
}

code {
	overflow: hidden;
	word-wrap: break-word;
}

iframe {
	border: none;
}

hr {
	clear: both;
	display: block;
	margin: $spacer 5%;
	height: 2px;
	border: 0;
	background-color: $grey;
}
