/*********************
SIZES
*********************/
$spacer: 1.5em;
$site-width: 60em; // Useful for fixed width sites, as well as for limiting the max-width of fluid sites

/*********************
BREAKPOINTS
*********************/
// Use pixels for include-media-export compatibility. 'zero' breakpoint ensures the breakpoints are printed on all screen widths.
$breakpoints: ( zero: (1 * 16px), phone: (35 * 16px), portrait: (48 * 16px), admin-bar: (48.875 * 16px), landscape: (64 * 16px), desktop: (80 * 16px) );


// breakpoints
$XS: 500px;
$S: 768px;
$M: 1024px;
$L: 1600px;

// media queries

@mixin MQ($canvas) {
	@if $canvas == XS {
		@media only screen and (min-width: $XS) {
			@content;
		}
	}
	@if $canvas == S {
		@media only screen and (min-width: $S) {
			@content;
		}
	}
	@else if $canvas == M {
		@media only screen and (min-width: $M) {
			@content;
		}
	}
	@else if $canvas == L {
		@media only screen and (min-width: $L) {
			@content;
		}
	}
}

/*********************
Offsets
*********************/

//TOP

@mixin lb-ad-offset() {
	@include MQ(XS) {
		top: 60px;
	}
	@include MQ(S) {
		top: 60px;
	}
	@include MQ(M) {
		top: 120px;
	}
	@include MQ(L) {
		top: 120px;
	}
	top: 60px;
}

@mixin lb-ad-height() {
	@include MQ(XS) {
		height: 60px;
	}
	@include MQ(S) {
		height: 60px;
	}
	@include MQ(M) {
		height: 120px;
	}
	@include MQ(L) {
		height: 120px;
	}
	height: 60px;
}



/*********************
COLORS
*********************/
$black: #0d0d0d;
$yellow: #fff200;
$red: #ee1c25;
$green: #6fce72;
$grey: #e6e6e6;
$white: #fff;
$success: $green;
$alert: $red;
$twitter: $bc-twitter;

// Social Media colors TBD


/*********************
TYPOGRAPHY - http://cssfontstack.com/
*********************/
// https://medium.com/@mwichary/system-shock-6b1dc6d6596f
$sans: 'Open Sans', sans-serif;
//-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
$serif: serif;
