/*********************
SIZES
*********************/
$spacer: 1.5em;
$half-space: $spacer/2;
$site-width: 1024px; //1408px

/*********************
BREAKPOINTS
*********************/
// Use pixels for include-media-export compatibility. 'zero' breakpoint ensures the breakpoints are printed on all screen widths.
$breakpoints: ( zero: (1 * 16px), phone: (35 * 16px), portrait: (48 * 16px), admin-bar: (48.875 * 16px), landscape: (64 * 16px), desktop: (80 * 16px) );

// Forms
$input-height: 30px;
$input-radius: 5px;

// breakpoints
$XS: 469px; //500
$S: 729px;  //768
$M: 1024px;
$L: 1600px;

// media queries

@mixin breakpoint($C) {
	@media only screen and (min-width: $C) {
		@content;
	}
}


@mixin MQ($canvas) {
	@if $canvas == XS {
		@media only screen and (min-width: $XS) {
			@content;
		}
	}
	@if $canvas == S {
		@media only screen and (min-width: $S) {
			@content;
		}
	}
	@else if $canvas == M {
		@media only screen and (min-width: $M) {
			@content;
		}
	}
	@else if $canvas == L {
		@media only screen and (min-width: $L) {
			@content;
		}
	}
}

/*********************
Offsets
*********************/

//TOP

@mixin admin-offset-fix( $offset: 0 ) {
	$narrow-offset: 46px;
	$wide-offset: 32px;
	@if $offset != 0 and type-of($offset) == 'number' {
		$narrow-offset: $narrow-offset + $offset;
		$wide-offset: $wide-offset + $offset;
	}
	.admin-bar & {
		top: $narrow-offset;
		@media screen and (min-width: 783px) {
			top: $wide-offset;
		}
	}
}

/*********************
COLORS
*********************/
$yellow: #fff200;
$black: #000;
$dark-grey: #414141;
$grey: #e6e6e6;
$white: #fff;
$red: #ee1c25;
$green: #6fce72;
$success: $green;
$alert: $red;
$twitter: $bc-twitter;
$snapchat: #FFFC00;


$monday: 	$yellow;
$tuesday: 	#00ff00;
$wednesday: #00bfff;
$thursday: 	#8000ff;
$friday: 	#ff0040;
$saturday: 	#ff4000;
$sunday:	#0000ff;



$background-color: $black;
$text-color: $white; 
$header-background: $black; 
$menu-color: $white;
$title-bgcolor: $black;

// Social Media colors TBD


/*********************
TYPOGRAPHY - http://cssfontstack.com/
*********************/
// https://medium.com/@mwichary/system-shock-6b1dc6d6596f
$sans: 'Open Sans', sans-serif;
//-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
$serif: serif;
