Deny from all

<Files "favicon.ico" >
	Order Allow,Deny
	Allow from all
</Files>
<Files "logo.svg" >
	Order Allow,Deny
	Allow from all
</Files>
<Files "logo-dark.svg" >
	Order Allow,Deny
	Allow from all
</Files>
<Files "social-media-buttons.jpg" >
	Order Allow,Deny
	Allow from all
</Files>
<FilesMatch "\.(htaccess|jpe?g|pdf|bmp|png|ico)$">
	Order Allow,Deny
	Allow from all
</FilesMatch>